<app-list-vendors
    [isLoading]="scenariosStore.isLoadingVendors"
    [vendorsWithListings$]="scenariosStore.vendors$"
    [title]="'Top vendors in <a>' + scenariosStore.currentLocation + '</a>'"
></app-list-vendors>
<app-button-load-more *ngIf="!scenariosStore.allVendorsLoaded" (click)="scenariosStore.loadMore('LOAD_VENDORS')"></app-button-load-more>

<app-list-listings
    [isLoading]="scenariosStore.isLoadingListings"
    [listingsList$]="scenariosStore.listings$"
    [title]="'Top listings in <a>' + scenariosStore.currentLocation + '</a>'"
></app-list-listings>
<app-button-load-more *ngIf="!scenariosStore.allListingsLoaded" (click)="scenariosStore.loadMore('LOAD_LISTINGS')"></app-button-load-more>
