<ng-container *ngIf="askForLocation && !locationDenied">
    <nb-card class="ask near-me-container">
        <p>{{ "ASK_FOR_LOCATION" | translate }}</p>
        <button size="small" status="success" class="near-me-container__button" nbButton (click)="getLocation()">
            <nb-icon icon="pin-outline" size="medium"></nb-icon> {{ "GET_POSITION" | translate }}
        </button>
    </nb-card>
</ng-container>

<ng-container *ngIf="locationDenied">
    <nb-card class="ask near-me-container-denied">
        <p>{{ "LOCATION_DENIED" | translate }}</p>
    </nb-card>
</ng-container>

<ng-container *ngIf="position && topVendorsNearMe$ | async as topVendorsNearMe">
    <nb-card *ngIf="!topVendorsNearMe.length" class="ask near-me-container-nonefound">
        <p>😞 {{ "NO_VENDORS_NEAR" | translate }}</p>
    </nb-card>
    <app-list-vendors
        *ngIf="topVendorsNearMe.length"
        [vendorsWithListings$]="topVendorsNearMe$"
        [title]="'VENDORS_NEAR_YOU' | translate"
        [isLoading]="false"
        class="near-me-vendors"
    ></app-list-vendors>
</ng-container>
