<ng-container *ngIf="askForLocation && !locationDenied">
    <p>We would like to know your location to provide you with closest vendors, please click 'Allow' ...</p>
    <button nbButton (click)="getLocation()">Get position</button>
</ng-container>

<ng-container *ngIf="locationDenied">
    <p>You denied location.. If you change your mind, do this... (explain how to give permissions)</p>
</ng-container>

<ng-container *ngIf="position && topVendorsNearMe$ | async as topVendorsNearMe">
    <p *ngIf="!topVendorsNearMe.length">😞 {{ "NO_VENDORS_NEAR" | translate }}</p>
    <app-list-vendors
        *ngIf="topVendorsNearMe.length"
        [vendorsWithListings$]="topVendorsNearMe$"
        [title]="'VENDORS_NEAR_YOU' | translate"
        [isLoading]="false"
        class="near-me-vendors"
    ></app-list-vendors>
</ng-container>
