<ng-container *ngIf="askForLocation && !locationDenied">
    <div class="ask">
        <p>{{ "ASK_FOR_LOCATION" | translate }}</p>
        <button nbButton (click)="getLocation()">{{ "GET_POSITION" | translate }}</button>
    </div>
</ng-container>

<ng-container *ngIf="locationDenied">
    <div class="ask">
        <p>{{ "LOCATION_DENIED" | translate }}</p>
    </div>
</ng-container>

<ng-container *ngIf="position && topVendorsNearMe$ | async as topVendorsNearMe">
    <p *ngIf="!topVendorsNearMe.length">😞 {{ "NO_VENDORS_NEAR" | translate }}</p>
    <app-list-vendors
        *ngIf="topVendorsNearMe.length"
        [vendorsWithListings$]="topVendorsNearMe$"
        [title]="'VENDORS_NEAR_YOU' | translate"
        [isLoading]="false"
        class="near-me-vendors"
    ></app-list-vendors>
</ng-container>
