.noItemsText {
    opacity: 0.8;
    white-space: nowrap;
}

.near-me-container {
    margin: 30px 0;
}

.near-me-alert {
    margin: 30px 0;
}

.near-me-vendors {
    margin: 30px 0;

    width: 100%;
}

.ask {
    text-align: center;
    button {
        margin-top: 10px;
    }
}
