.noItemsText {
    opacity: 0.8;
    white-space: nowrap;
}

.near-me-alert {
    margin: 0;
}

.near-me-vendors {
    margin-top: -20px;

    ::ng-deep .vendor-card {
        max-width: 390px;
    }
}

.ask {
    text-align: center;
    button {
        margin-top: 10px;
    }
}
