@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/corporate";

$nb-enable-css-custom-properties: true; // <-- enable css custom properties

$nb-themes: nb-register-theme(
    (
        // add your variables here like:
            color-primary-100: #f2f6ff,
        color-primary-200: #d9e4ff,
        color-primary-300: #a6c1ff,
        color-primary-400: #598bff,
        color-primary-500: #2e4998,
        color-primary-600: #2e4998,
        color-primary-700: #284086,
        color-primary-800: #2e4998,
        color-primary-900: #2e4998,
        color-primary-transparent-100: rgba(51, 102, 255, 0.08),
        color-primary-transparent-200: rgba(51, 102, 255, 0.16),
        color-primary-transparent-300: rgba(51, 102, 255, 0.24),
        color-primary-transparent-400: rgba(51, 102, 255, 0.32),
        color-primary-transparent-500: rgba(51, 102, 255, 0.4),
        color-primary-transparent-600: rgba(51, 102, 255, 0.48),
        color-success-100: #f0fff5,
        color-success-200: #ccfce3,
        color-success-300: #8cfac7,
        color-success-400: #2ce69b,
        color-success-500: #00d68f,
        color-success-600: #00b887,
        color-success-700: #00997a,
        color-success-800: #007d6c,
        color-success-900: #004a45,
        color-success-transparent-100: rgba(0, 214, 143, 0.08),
        color-success-transparent-200: rgba(0, 214, 143, 0.16),
        color-success-transparent-300: rgba(0, 214, 143, 0.24),
        color-success-transparent-400: rgba(0, 214, 143, 0.32),
        color-success-transparent-500: rgba(0, 214, 143, 0.4),
        color-success-transparent-600: rgba(0, 214, 143, 0.48),
        color-info-100: #f2f8ff,
        color-info-200: #c7e2ff,
        color-info-300: #94cbff,
        color-info-400: #42aaff,
        color-info-500: #0095ff,
        color-info-600: #006fd6,
        color-info-700: #0057c2,
        color-info-800: #0041a8,
        color-info-900: #002885,
        color-info-transparent-100: rgba(0, 149, 255, 0.08),
        color-info-transparent-200: rgba(0, 149, 255, 0.16),
        color-info-transparent-300: rgba(0, 149, 255, 0.24),
        color-info-transparent-400: rgba(0, 149, 255, 0.32),
        color-info-transparent-500: rgba(0, 149, 255, 0.4),
        color-info-transparent-600: rgba(0, 149, 255, 0.48),
        color-warning-100: #fffdf2,
        color-warning-200: #fff1c2,
        color-warning-300: #ffe59e,
        color-warning-400: #ffc94d,
        color-warning-500: #ffaa00,
        color-warning-600: #db8b00,
        color-warning-700: #b86e00,
        color-warning-800: #945400,
        color-warning-900: #703c00,
        color-warning-transparent-100: rgba(255, 170, 0, 0.08),
        color-warning-transparent-200: rgba(255, 170, 0, 0.16),
        color-warning-transparent-300: rgba(255, 170, 0, 0.24),
        color-warning-transparent-400: rgba(255, 170, 0, 0.32),
        color-warning-transparent-500: rgba(255, 170, 0, 0.4),
        color-warning-transparent-600: rgba(255, 170, 0, 0.48),
        color-danger-100: #fff2f2,
        color-danger-200: #ffd6d9,
        color-danger-300: #ffa8b4,
        color-danger-400: #ff708d,
        color-danger-500: #ff3d71,
        color-danger-600: #db2c66,
        color-danger-700: #b81d5b,
        color-danger-800: #94124e,
        color-danger-900: #700940,
        color-danger-transparent-100: rgba(255, 61, 113, 0.08),
        color-danger-transparent-200: rgba(255, 61, 113, 0.16),
        color-danger-transparent-300: rgba(255, 61, 113, 0.24),
        color-danger-transparent-400: rgba(255, 61, 113, 0.32),
        color-danger-transparent-500: rgba(255, 61, 113, 0.4),
        color-danger-transparent-600: rgba(255, 61, 113, 0.48),
        /* Basic colors - for backgrounds and borders and texts */ color-basic-100: #ffffff,
        color-basic-200: #f7f9fc,
        color-basic-300: #edf1f7,
        color-basic-400: #e4e9f2,
        color-basic-500: #c5cee0,
        color-basic-600: #8f9bb3,
        color-basic-700: #2e3a59,
        color-basic-800: #222b45,
        color-basic-900: #192038,
        color-basic-1000: #151a30,
        color-basic-1100: #101426,
        color-basic-transparent-100: rgba(143, 155, 179, 0.08),
        color-basic-transparent-200: rgba(143, 155, 179, 0.16),
        color-basic-transparent-300: rgba(143, 155, 179, 0.24),
        color-basic-transparent-400: rgba(143, 155, 179, 0.32),
        color-basic-transparent-500: rgba(143, 155, 179, 0.4),
        color-basic-transparent-600: rgba(143, 155, 179, 0.48),
        color-basic-control-transparent-100: rgba(255, 255, 255, 0.08),
        color-basic-control-transparent-200: rgba(255, 255, 255, 0.16),
        color-basic-control-transparent-300: rgba(255, 255, 255, 0.24),
        color-basic-control-transparent-400: rgba(255, 255, 255, 0.32),
        color-basic-control-transparent-500: rgba(255, 255, 255, 0.4),
        color-basic-control-transparent-600: rgba(255, 255, 255, 0.48),
        text-basic-color: color-basic-1000,
        text-alternate-color: color-primary-100,
        text-control-color: color-basic-100,
        text-disabled-color: color-basic-500,
        text-hint-color: color-basic-700
    ),
    corporate,
    corporate
);
// corporate,
// corporate
