<swiper [config]="config" *ngIf="algoliaService.configuration && algoliaService.configuration.banners">
    <div *ngFor="let banner of algoliaService.configuration.banners | active">
        <div class="banner">
            <div class="background" [style]="'background-image: url(' + banner.image + ');'"></div>
            <div class="foreground">
                <h1 [style]="'color:' + banner.color + ';'">{{ banner.title }}</h1>
                <h4 [style]="'color:' + banner.color + ';'">{{ banner.subtitle }}</h4>

                <a nbButton ghost status="info" size="medium" target="_blank" [href]="banner.url">{{ banner.button }}</a>
            </div>
        </div>
    </div>
</swiper>
