<div class="content-section cart-grid">
    <nb-card fullWidth class="summary">
        <nb-card-header>
            <h5>{{ "SUMMARY" | translate }}</h5>
        </nb-card-header>
        <nb-card-body class="summary__body">
            <p *ngFor="let item of cartItems | keyvalue">
                {{ item.value.item?.title }}: <strong>{{ item.value.item?.price | currency }}</strong> (x{{ item.value.quantity }})
            </p>

            <h5>
                {{ "TOTAL" | translate }}: <strong>{{ totalAmount | currency }}</strong>
            </h5>

            <h6>
                <button nbButton outline status="info" fullWidth>{{ "CHECKOUT" | translate }}</button>
            </h6>
        </nb-card-body>
    </nb-card>

    <nb-card fullWidth class="items">
        <nb-card-header>
            <h1>{{ "YOUR_CART" | translate }}</h1>
        </nb-card-header>

        <nb-card-body>
            <nb-card class="cart-item__card" accent="info" *ngFor="let item of cartItems | keyvalue">
                <nb-card-header class="cart-item__header"
                    >{{ item.value.item?.title }} <img class="cart-item__image" [src]="item.value.item?.image"
                /></nb-card-header>
                <nb-card-body>
                    {{ item.value.item?.description }}
                </nb-card-body>
                <nb-card-footer>
                    <nb-select (selectedChange)="changeQuantity(item.key, $event)" [selected]="item.value.quantity" [placeholder]="'QUANTITY' | translate">
                        <nb-option *ngFor="let number of quantityArr" [value]="number">{{ number }}</nb-option>
                    </nb-select>
                    <button nbButton basic status="danger" (click)="removeItem(item.key)">{{ "REMOVE" | translate }}</button>
                </nb-card-footer>
            </nb-card>
        </nb-card-body>
    </nb-card>
</div>
