:host {
    display: flex;
    justify-content: space-between;

    img {
        min-width: 230px;
        min-height: 240px;
        max-height: 240px;
        margin-bottom: 0;
        max-width: 390px;
        object-fit: cover;
        border-radius: 15px;
    }
}
.city {
    margin: 0 10px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.city__item {
    border-radius: 15px;
}
