:host {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    img {
        min-height: 240px;
        max-height: 240px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}
.city {
    margin: 0 10px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.city__item {
    border-radius: 15px;
}
