@import "themes";

@import "~@nebular/theme/styles/globals";

@include nb-install() {
    @include nb-theme-global();
}

p {
    margin: 0;
}
a {
    &:focus {
        outline: none;
    }
}
body {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0;
}

.content-section {
    margin: 50px auto 25px auto;
    max-width: 1200px;
}

.ap-icon-pin {
    display: none;
}

.title {
    margin: 20px 0 !important;
    text-align: center;

    &--large {
        font-size: 2em;
    }

    &--bold {
        font-weight: bold;
    }

    &--thin {
        font-weight: 100;
    }
}

.full-width {
    width: 100%;
}

.clickable-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 10px;
    transition: 0.1s ease-out;

    &:hover {
        cursor: pointer;
        box-shadow: nb-theme(color-basic-500) 0px 2px 15px;
        border-bottom: 5px solid nb-theme(color-info-500);
    }

    @media only screen and (max-width: 600px) {
        height: 270px;
    }
}

.user-picture.image {
    background-size: contain !important;
    background-position: center;
}
