@import "themes";

@import "~@nebular/theme/styles/globals";

@include nb-install() {
    @include nb-theme-global();
}

body {
    overflow-x: hidden;
}

p {
    margin: 0;
}
a {
    &:focus {
        outline: none;
    }
    cursor: pointer;
}
body {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0;
}

.content-section {
    margin: 30px auto 100px auto;
    max-width: 1260px;
    @media only screen and (max-width: 1260px) {
        border: none;
        padding: var(--card-padding);
        padding-right: 15px;
        padding-left: 15px;
        margin: 0;
        border-radius: 0;
    }

    @media only screen and (max-width: 600px) {
        padding-right: 10px;
        padding-left: 10px;
    }
    &__vendor {
        padding: 0;
        border: 0;
    }

    &__product {
        padding: 0;
    }
    &__landing {
    }
}

.responsive-padding {
    padding: var(--card-padding);
    @media only screen and (max-width: 600px) {
        padding: 10px;
    }
}

.ap-icon-pin {
    display: none;
}

.title {
    font-weight: 400;
    white-space: nowrap;
    margin: 30px 0;
    text-align: center;
    @media only screen and (max-width: 950px) {
        font-size: 1.5em;
        margin: 15px 0;
    }
    @media only screen and (max-width: 640px) {
        font-size: 1.2em;
        margin: 8px 0;
    }
    @media only screen and (max-width: 455px) {
        font-size: 1em;
        margin: 8px 0;
    }

    &--large {
        font-size: 1.5em;
    }

    &--bold {
        font-weight: bold;
    }

    &--thin {
        font-weight: 100;
    }
}

.full-width {
    width: 100%;
}

.clickable-card {
    transition: 0.1s cubic-bezier(0.42, 0.95, 0.72, 0.32);
    overflow: hidden;
    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: nb-theme(color-basic-transparent-500) 0px 0px 8px;
        outline: none;
    }
}

p {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
    font-weight: 100;
}

.flexible-card {
    overflow: hidden;

    @media only screen and (max-width: 1260px) {
        border-radius: 0;
        margin: 0;
        border: 0;
    }
    @media only screen and (max-width: 640px) {
        border: none;
    }
}

.noSidePadding {
    padding-right: 0;
    padding-left: 0;
}

.cartlist {
    @media only screen and (max-width: 1260px) {
        padding: var(--card-padding);
        background-color: white;
    }
}

nb-dialog-container {
    max-width: 95vw;
    max-height: 95vh;
    overflow: hidden auto;
}
