@import "themes";

@import "~@nebular/theme/styles/globals";
@import "../../@shared/banner/swiper.scss";

@include nb-install() {
    @include nb-theme-global();
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
}

p {
    margin: 0;
}

a {
    &:focus {
        outline: none;
    }
    cursor: pointer;
}
body {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0;
}

.content-section {
    margin: 0 auto 100px auto;
    padding: 0 30px;
    max-width: 1500px;
    @media only screen and (max-width: 1260px) {
        border: none;

        padding-right: 15px;
        padding-left: 15px;
        margin: 0;
        border-radius: 0;
    }

    @media only screen and (max-width: 600px) {
        padding-right: 10px;
        padding-left: 10px;
    }
    &__vendor {
        padding: 0;
        border: 0;
    }

    &__product {
        padding: 0;
    }
    &__landing {
    }
}

.responsive-padding {
    padding: var(--card-padding);
    @media only screen and (max-width: 600px) {
        padding: 10px;
    }
}

.ap-icon-pin {
    display: none;
}

.title {
    font-weight: 400;
    white-space: nowrap;
    margin: calc(var(--margin-standart) * 2) 0 calc(var(--margin-standart) * 2) 0;
    font-family: var(--font-family-primary);
    @media only screen and (max-width: 950px) {
        font-size: 1.5em;
        margin: 15px 0;
    }
    @media only screen and (max-width: 640px) {
        font-size: 1.5em;
        margin: 8px 0;
    }
    @media only screen and (max-width: 455px) {
        font-size: 1.2em;
        margin: 8px 0;
    }

    &--large {
        font-size: 1.5em;
    }

    &--bold {
        font-weight: bold;
    }

    &--thin {
        font-weight: 100;
    }
}

.full-width {
    width: 100%;
}

.clickable-card {
    transition: all 0.1s cubic-bezier(0.42, 0.95, 0.72, 0.32), max-height 0.2s linear, height 0.2s linear;
    overflow: hidden;
    cursor: pointer;
    box-shadow: nb-theme(color-basic-transparent-500) 0px 0px 4px;
    &:hover,
    &:focus {
        box-shadow: nb-theme(color-basic-transparent-500) 0px 0px 10px;
        outline: none;
    }
}

p {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
    font-weight: 100;
}

.flexible-card {
    overflow: hidden;

    @media only screen and (max-width: 1260px) {
        border-radius: 0;
        margin: 0;
        border: 0;
    }
    @media only screen and (max-width: 640px) {
        border: none;
    }
}

.noSidePadding {
    padding-right: 0;
    padding-left: 0;
}

.cartlist {
    @media only screen and (max-width: 1260px) {
        padding: var(--card-padding);
        background-color: white;
    }
}

nb-dialog-container {
    max-width: 95vw;
    max-height: 95vh;
    overflow: hidden auto;
}

.remove-icon {
    cursor: pointer;
}

.successTextColor {
    color: var(--icon-success-color);
}

.infoTextColor {
    color: var(--icon-info-color);
}

.grayTextColor {
    opacity: 0.4;
    color: black;
}
.darkGrayTextColor {
    opacity: 0.88;
    color: black;
}

.gradient-svg {
    fill: url(#gradient);
    svg {
        fill: url(#gradient);
    }
}

.vertical-seperator {
    height: 100%;
    width: 0.5px;
    background-color: var(--card-divider-color);
    // -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.12);
    // box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.12);
    margin: 0 var(--margin-standart);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    opacity: 0.6;
    @media only screen and (max-width: 1260px) {
        margin: 0 calc(var(--margin-standart) / 2);
    }
}

.horizontal-seperator {
    height: 0.5px;
    width: 100%;
    background-color: var(--card-divider-color);
    // -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.12);
    // box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.12);
    margin: var(--margin-standart) 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    opacity: 0.6;
}

// .eva-shopping-cart-outline {
//     fill: url(#gradient);
// }

input::placeholder {
    opacity: 0.8;
}

input {
    margin: 5px 0px;
    border: none !important;
    border-radius: 6px !important;
    &:hover {
        background-color: nb-theme(background-basic-color-2) !important;
    }
    &:active {
        background-color: nb-theme(background-basic-color-2) !important;
    }
    &:focus {
        background-color: nb-theme(background-basic-color-2) !important;
    }
}
.largeQ {
    @media only screen and (max-width: 1000px) {
        display: none;
    }
}

.mediumQ {
    @media only screen and (max-width: 1000px) {
        display: none;
    }
    @media only screen and (min-width: 1000px) {
        display: block;
    }
    @media only screen and (max-width: 400px) {
        display: block;
    }
    @media only screen and (min-width: 400px) {
        display: none;
    }
}

.smallQ {
    @media only screen and (min-width: 400px) {
        display: none;
    }
}
