.search-box {
    padding: 5px;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 20px -2px;
    &__body {
        overflow: unset;
        display: grid;
        grid-template-columns: 0.7fr 1fr 0.3fr;
        grid-gap: 20px;
        align-items: center;
        @media only screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    &__homeDelivery {
        width: 130px;
    }
}

.title {
    font-weight: 400;
}
