:host {
    width: 100%;
    max-width: 530px;
}

.search-box {
    background-color: rgba(black, 70%);
    padding: 1em 3em 2em 3em;
    margin: 30px 10px;
    border-radius: 5px;

    .city-name {
        font-weight: 800;
    }
    .title {
        font-weight: 100;
    }
}
