<swiper [config]="config" *ngIf="listings">
    <div *ngFor="let listing of listings">
        <div class="listing">
            <div class="image">
                <img [src]="listing.image" />
            </div>

            <div class="details">
                <h2>{{ listing.title }}</h2>
                <h4>€ {{ listing.price }}</h4>
                <p>{{ listing.description }}</p>
            </div>
            <!-- <button nbButton [routerLink]="banner.url">{{ banner.button }}</button> -->
        </div>
    </div>
</swiper>
