<swiper [config]="config" *ngIf="listings">
    <div *ngFor="let listing of listings">
        <div class="listing">
            <!-- <div class="listing-background" [style.backgroundImage]="'url(' + listing.image + ')'"></div> -->

            <img class="listing__image" [src]="listing.image" />

            <div class="details">
                <!-- <img class="details__image" [src]="listing.image" /> -->
                <div class="details__image" [style.backgroundImage]="'url(' + listing.image + ')'"></div>
                <div class="details__text">
                    <h1>{{ listing.title }}</h1>
                    <h3>€ {{ listing.price }}</h3>
                    <p>{{ listing.description }}</p>
                </div>
            </div>
        </div>
    </div>
</swiper>
