@import "~src/app/@core/styles/themes";

nb-stepper {
    display: block;
    padding: 0 5px;
    @media (min-width: 1000px) {
        padding: 20px;
    }
}

::ng-deep .step-content {
    @media (max-width: 1000px) {
        padding: 0 !important;
    }
}

.delivery-checkbox {
    margin: 20px 0;
    font-size: 1.1em;
}

.vendor-delivery {
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__image {
        width: 70px;
    }
}

.actions {
    display: flex;
    button:first-child {
        margin-right: 10px;
    }
}

.items,
.vendors,
.order {
    margin-top: 20px;
}

.card-review {
    nb-card-body {
        nb-user:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
}

.terms-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    nb-checkbox {
        margin-right: 10px;
    }
}

.captcha {
    margin-bottom: 10px;
}
