<nb-card [style.visibility]="formProgress === 0 ? 'hidden' : 'visible'">
    <nb-progress-bar [value]="formProgress" [status]="status" [displayValue]="true" [size]="'giant'"></nb-progress-bar>
</nb-card>

<nb-stepper #stepper [linear]="true" orientation="horizontal" disableStepNavigation="true">
    <nb-step [label]="'INFORMATION' | translate" [formGroup]="formBasic">
        <nb-card>
            <nb-card-header>
                <h4>{{ "BASIC_INFORMATION" | translate }}</h4>
            </nb-card-header>
            <nb-card-body>
                <app-input-validate-wrapper for="firstName" [ref]="formBasicField('firstName')" label="FIRST_NAME" invalidMessage="REQUIRED" required="true">
                    <input class="input" formControlName="firstName" type="text" nbInput fullWidth fieldSize="medium" />
                </app-input-validate-wrapper>

                <app-input-validate-wrapper for="lastName" label="LAST_NAME" [ref]="formBasicField('lastName')" invalidMessage="REQUIRED" required="true">
                    <input class="input" formControlName="lastName" type="text" nbInput fullWidth fieldSize="medium" />
                </app-input-validate-wrapper>

                <app-input-validate-wrapper for="email" label="EMAIL" [ref]="formBasicField('email')" invalidMessage="INVALID_EMAIL" required="true">
                    <input class="input" formControlName="email" type="text" nbInput fullWidth fieldSize="medium" />
                </app-input-validate-wrapper>

                <app-input-validate-wrapper for="phone" [ref]="formBasicField('phone')" label="PHONE">
                    <input class="input" formControlName="phone" type="text" nbInput fullWidth fieldSize="medium" />
                </app-input-validate-wrapper>

                <div class="terms-checkbox">
                    <nb-checkbox formControlName="terms"
                        ><h5>{{ "ACCEPT_TERMS" | translate }}</h5></nb-checkbox
                    >
                    <a (click)="openTerms()">{{ "VIEW" | translate }}</a>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="actions">
                    <button
                        nbButton
                        nbStepperNext
                        (click)="formProgress = 30"
                        [disabled]="formBasic.invalid || !formBasic.value.terms"
                        outline
                        status="success"
                    >
                        {{ "NEXT" | translate }}
                    </button>
                </div>
            </nb-card-footer>
        </nb-card>
    </nb-step>

    <nb-step [label]="'DELIVERY' | translate" [formGroup]="formDelivery">
        <nb-card>
            <nb-card-header>
                <h4>{{ "DELIVERY_INFORMATION" | translate }}</h4>
            </nb-card-header>
            <nb-card-body>
                <nb-card class="vendor-delivery" *ngFor="let vendor of vendors">
                    <nb-card-body class="vendor-delivery__body">
                        <h4>{{ vendor.title }}</h4>
                        <img class="vendor-delivery__image" [src]="vendor.image" />
                        <app-vendor-delivery-notice [vendor$]="convertVendorToObservable(vendor)"></app-vendor-delivery-notice>
                    </nb-card-body>
                </nb-card>

                <div class="delivery-checkbox">
                    <nb-checkbox formControlName="delivery" (click)="toggleDelivery()"
                        ><h5>{{ "I_WANT_DELIVERY" | translate }}</h5></nb-checkbox
                    >
                </div>

                <div *ngIf="formDeliveryField('delivery').value == true">
                    <app-input-validate-wrapper for="address" label="ADDRESS" [ref]="formDeliveryField('address')" invalidMessage="REQUIRED" required="true">
                        <input class="input" formControlName="address" type="text" nbInput fullWidth fieldSize="medium" />
                    </app-input-validate-wrapper>

                    <app-input-validate-wrapper for="country" label="COUNTRY" [ref]="formDeliveryField('country')" invalidMessage="REQUIRED" required="true">
                        <input class="input" formControlName="country" type="text" nbInput fullWidth fieldSize="medium" />
                    </app-input-validate-wrapper>

                    <app-input-validate-wrapper for="city" label="CITY" [ref]="formDeliveryField('city')" invalidMessage="REQUIRED" required="true">
                        <input class="input" formControlName="city" type="text" nbInput fullWidth fieldSize="medium" />
                    </app-input-validate-wrapper>

                    <app-input-validate-wrapper for="county" label="COUNTY" [ref]="formDeliveryField('county')">
                        <input class="input" formControlName="county" type="text" nbInput fullWidth fieldSize="medium" />
                    </app-input-validate-wrapper>

                    <app-input-validate-wrapper for="postCode" label="POSTCODE" [ref]="formDeliveryField('postCode')" invalidMessage="REQUIRED" required="true">
                        <input class="input" formControlName="postCode" type="text" nbInput fullWidth fieldSize="medium" />
                    </app-input-validate-wrapper>

                    <app-input-validate-wrapper for="comments" label="COMMENTS" [ref]="formDeliveryField('comments')">
                        <textarea nbInput fullWidth formControlName="comments" fieldSize="medium" fullWidth></textarea>
                    </app-input-validate-wrapper>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="actions">
                    <button nbButton nbStepperPrevious>{{ "PREVIOUS" | translate }}</button>
                    <button
                        nbButton
                        nbStepperNext
                        (click)="generateOrder(); formProgress = 60"
                        [disabled]="formDeliveryField('delivery').value && formDelivery.invalid"
                        outline
                        status="success"
                    >
                        {{ "NEXT" | translate }}
                    </button>
                </div>
            </nb-card-footer>
        </nb-card>
    </nb-step>

    <nb-step [label]="'REVIEW' | translate">
        <nb-card>
            <nb-card-header>
                <h4>{{ "REVIEW" | translate }}</h4>
            </nb-card-header>
            <nb-card-body>
                <div class="buyer">
                    <h1>{{ "BUYER" | translate }}</h1>
                    <strong>{{ "NAME" | translate }}</strong
                    >: {{ formBasic.value.firstName + " " + formBasic.value.lastName }}
                    <br />
                    <strong>{{ "EMAIL" | translate }}</strong
                    >: {{ formBasic.value.email }}
                    <br />
                    <strong>{{ "PHONE" | translate }}</strong
                    >: {{ formBasic.value.phone }}

                    <div *ngIf="this.formDelivery.value.delivery">
                        <strong>{{ "ADDRESS" | translate }}</strong
                        >: {{ formDelivery.value.address }} <br />
                        <strong>{{ "CITY" | translate }}</strong
                        >: {{ formDelivery.value.city }} <br />
                        <strong>{{ "COUNTY" | translate }}</strong
                        >: {{ formDelivery.value.county }} <br />
                        <strong>{{ "COUNTRY" | translate }}</strong
                        >: {{ formDelivery.value.country }} <br />
                        <strong>{{ "POSTCODE" | translate }}</strong
                        >: {{ formDelivery.value.postCode }} <br />
                        <strong>{{ "COMMENTS" | translate }}</strong
                        >:<em> {{ formDelivery.value.comments }}</em>
                    </div>
                </div>
                <div class="items">
                    <h1>{{ "ITEMS" | translate }}</h1>

                    <nb-card *ngFor="let entry of review" class="card-review">
                        <nb-card-header>
                            <nb-user
                                shape="rectangle"
                                [name]="entry.vendor.title"
                                size="giant"
                                [picture]="entry.vendor.image"
                                [title]="entry.vendor.description"
                            ></nb-user>
                        </nb-card-header>
                        <nb-card-body>
                            <div class="products">
                                <div *ngFor="let item of entry.listings">
                                    <app-card-listing [item]="item" [viewOnly]="true"></app-card-listing>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="captcha"><re-captcha (resolved)="resolved($event)" siteKey="6LfmFPAUAAAAAAZ-eQOCKCfyToqVGDyX-HQ6BVg-"></re-captcha></div>
                <div class="actions">
                    <button nbButton nbStepperPrevious>{{ "PREVIOUS" | translate }}</button>
                    <button nbButton nbStepperNext hero status="success" (click)="submitOrder(); formProgress = 100" fullWidth [disabled]="!captcha">
                        {{ "PLACE_ORDER" | translate }}
                    </button>
                </div>
            </nb-card-footer>
        </nb-card>
    </nb-step>

    <nb-step [label]="'CONFIRMATION' | translate">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
            <nb-card-header>
                <h4>{{ "CONFIRMATION" | translate }}</h4>
            </nb-card-header>
            <nb-card-body *ngIf="loading"> {{ "PLEASE_WAIT" | translate }} </nb-card-body>

            <nb-card-body *ngIf="!loading">
                <nb-card *ngFor="let order of confirmedOrder" class="order">
                    <nb-card-header>
                        <h1>{{ order.orderId }}</h1>
                        <h2>{{ order.sum | currency }}</h2>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-user
                            shape="rectangle"
                            [name]="order.seller.title"
                            size="giant"
                            [picture]="order.seller.image"
                            [title]="order.seller.description"
                        ></nb-user>

                        <div *ngFor="let listing of order.listings">
                            <nb-user
                                [name]="listing.title"
                                size="large"
                                badgeStatus="primary"
                                [badgeText]="(listing.price | currency) + ' (×' + listing.quantity + ')'"
                                [picture]="listing.image"
                                [title]="listing.description"
                            ></nb-user>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-card-body>
            <nb-card-footer *ngIf="!loading">
                <h1>{{ "ORDER_RECEIVED_TEXT" | translate }}</h1>
                <button [routerLink]="globalRoutes.ROOT" nbButton nbStepperNext outline status="primary">{{ "BACK_TO_MAIN_PAGE" | translate }}</button>
            </nb-card-footer>
        </nb-card>
    </nb-step>
</nb-stepper>
