.content-section {
    margin: 50px auto;
    max-width: 1200px;
}

.grid-parent {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 25px;
}

.grid-child {
}
