<app-top-banner></app-top-banner>

<section class="content-section">
  <h2 class="mat-display-1 title title--thin title--space">
    Browsing all Stores & Products
  </h2>
  <mat-tab-group>
    <mat-tab label="Stores">
      <div class="grid-parent">
        <section class="grid-child" *ngFor="let item of vendorsList">
          <app-card-vendor
            [description]="item.description"
            [image]="item.image"
            [name]="item.name"
            [address]="item.address"
            [id]="item.id"
          ></app-card-vendor>
        </section>
      </div>
    </mat-tab>
    <mat-tab label="Products">
      <div class="grid-parent">
        <section class="grid-child" *ngFor="let item of listingsList">
          <app-card-listing [item]="item"></app-card-listing>
        </section>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
