@import "~src/app/@core/styles/themes";

.top-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding: 0 50px;
    box-shadow: nb-theme(color-primary-500) 0px -5px 10px;

    @media only screen and (max-width: 1000px) {
        padding: 0;
    }

    &::ng-deep nav {
        justify-content: space-between;
        padding: 0px 10px;
        height: 55px;
    }

    &__section {
        display: flex;
        align-items: center;
    }
    &__button {
        width: 70px;
        margin: 0 10px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    &__cart {
        position: relative;

        .cart-display-count {
            position: absolute;
            bottom: 20px;
            right: 0;
            background-color: nb-theme(color-info-500);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            color: nb-theme(color-primary-100);
            font-size: nb-theme(text-button-small-font-size);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
            text-align: center;
        }
    }

    &--fake {
        height: 55px;
    }

    &__language {
        cursor: pointer;
        width: 25px;
        margin: 0 5px;

        @media (max-width: 640px) {
            width: 20px;
        }
    }
}

.notification {
    margin: 0;
    max-width: 250px;

    &__header {
        max-height: 150px;
        padding: 3px;
        display: flex;
        align-items: center;
    }

    &__image {
        width: 100%;
        max-height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }

    &__body {
        padding: 10px;
    }

    &__title {
        margin: 5px 0;
        text-align: center;
    }
}
