@import "~src/app/@core/styles/themes";

.top-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding: 0 50px;

    @media only screen and (max-width: 1000px) {
        padding: 0;
    }

    &::ng-deep nav {
        justify-content: space-between;
        padding: 0px 10px;
        height: 55px;
    }

    &__section {
        display: flex;
        align-items: center;
    }
    &__button {
        width: 50px;
        margin: 0 10px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    &__cart {
        position: relative;

        .cart-display-count {
            position: absolute;
            bottom: 20px;
            right: 10px;
            background-color: nb-theme(color-info-500);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-weight: bold;
            color: nb-theme(color-primary-100);
            font-size: nb-theme(text-button-small-font-size);
            // box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
            text-align: center;
        }
    }

    &--fake {
        height: 55px;
    }

    &__language {
        cursor: pointer;
        width: 18px;
        margin: 0 5px;
        padding-bottom: 4px;

        @media (max-width: 640px) {
            width: 20px;
        }
    }
}

.notification {
    margin: 0;
    max-width: 250px;
    height: auto;

    animation: 0.1s ease-in 0s 1 appear;

    &__header {
        padding: 3px;
        display: flex;
        align-items: center;
    }

    &__image {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    &__body {
        padding: 10px;
        overflow: hidden;
    }

    &__title {
        margin: 5px 0;
        text-align: center;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// @TODO - find a way to make this selector cleaner still
::ng-deep .context-menu a[title="en"],
::ng-deep .context-menu a[title="lv"],
::ng-deep .context-menu a[title="lt"] {
    .menu-icon {
        margin: 0 !important;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
    }
    .menu-title {
        display: none;
    }
}
