<!-- Menu -->
<section class="top-bar" *ngIf="!isMobileLayout">
    <nav role="sub" class="sub">
        <ul class="sub__list">
            <li *ngFor="let item of TOP_HEADER_NAVIGATION_ROUTES" class="sub__item">
                <a *ngIf="item.createShop" (click)="handleRedirect(item)" class="sub__buttonShop"> {{ item.title }} </a>
                <a *ngIf="!item.createShop" (click)="handleRedirect(item)" class="sub__button"> {{ item.title }} </a>
                <div class="vertical-seperator">&nbsp;</div>
            </li>
            <img class="sub__language" [nbContextMenu]="languages" [src]="'assets/images/flags/' + language + '.svg'" nbContextMenuTag="languages-menu" />
        </ul>
    </nav>
    <nav role="shop" class="shop">
        <div class="shop__logoContainer">
            <svg (click)="navigateToMainPage()" class="shop__logo gradient-svg" height="50">
                <defs>
                    <linearGradient spreadMethod="pad" id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color: rgb(50, 169, 255); stop-opacity: 1" />
                        <stop offset="100%" style="stop-color: rgb(50, 111, 255); stop-opacity: 1" />
                    </linearGradient>
                </defs>
                <use xlink:href="assets/icons/pard-text.svg#Layer_1"></use>
            </svg>

            <div class="vertical-seperator">&nbsp;</div>
        </div>
        <section class="shop__menu">
            <ul class="shop__list">
                <!-- <li class="shop__item">
                    <a class="shop__buttonCloseToMe"> <nb-icon icon="pin-outline"></nb-icon> Close to me </a>

                    <div class="vertical-seperator">&nbsp;</div>
                </li>
                <li class="shop__item">
                    <a class="shop__buttonNew"> NEW </a>

                    <div class="vertical-seperator">&nbsp;</div>
                </li>
                <li class="shop__categoryItem">
                    <a class="shop__buttonShop"> Healthcare </a>
                </li>
                <li class="shop__categoryItem">
                    <a class="shop__buttonShop"> Clothing </a>
                </li>
                <li class="shop__categoryItem">
                    <a class="shop__buttonShop"> Food </a>
                </li> -->
            </ul>

            <section class="shop__cartContainer">
                <div class="shop__searchDesktop">
                    <app-search-box></app-search-box>
                </div>

                <div class="shop__cart">
                    <button
                        ghost
                        nbButton
                        status="black"
                        [nbPopover]="templateRef"
                        [routerLink]="globalRoutes.CART_PAGE_ROOT"
                        nbPopoverPlacement="bottom"
                        nbPopoverTrigger="noop"
                        class="shop__button"
                    >
                        <nb-icon icon="shopping-cart-outline" class="gradient-svg"></nb-icon>
                    </button>
                    <div *ngIf="count" class="cart-display-count">{{ count }}</div>
                </div>
            </section>
        </section>
    </nav>
</section>

<!-- Mobile Menu -->
<section class="top-bar-mobile" *ngIf="isMobileLayout">
    <section style="display: flex">
        <svg (click)="navigateToMainPage()" class="shop__logo gradient-svg" height="50">
            <defs>
                <linearGradient spreadMethod="pad" id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color: rgb(50, 169, 255); stop-opacity: 1" />
                    <stop offset="100%" style="stop-color: rgb(50, 111, 255); stop-opacity: 1" />
                </linearGradient>
            </defs>
            <use xlink:href="assets/icons/pard-text.svg#Layer_1"></use>
        </svg>
    </section>
    <section class="top-bar-mobile__menu">
        <button *ngIf="isMobileLayout" ghost nbButton status="primary" [nbContextMenu]="TOP_HEADER_NAVIGATION_ROUTES" class="top-header__button">
            <nb-icon icon="menu-outline"></nb-icon>
        </button>
        <div class="shop__cart">
            <button
                ghost
                nbButton
                status="black"
                [nbPopover]="templateRef"
                [routerLink]="globalRoutes.CART_PAGE_ROOT"
                nbPopoverPlacement="bottom"
                nbPopoverTrigger="noop"
                class="shop__button"
            >
                <nb-icon icon="shopping-cart-outline" class="gradient-svg"></nb-icon>
            </button>
            <div *ngIf="count" class="cart-display-count">{{ count }}</div>
        </div>
    </section>
    <div class="top-bar-mobile__searchMobile">
        <app-search-box></app-search-box>
    </div>
</section>

<!-- Notificatiopn template -->
<ng-template #templateRef>
    <nb-card size="small" class="notification">
        <nb-card-header class="notification__header">
            <img class="notification__image" [src]="lastItemAddedToCart.image ? lastItemAddedToCart.image : ''" alt="item.name" />
        </nb-card-header>
        <nb-card-body class="notification__body">
            <button [routerLink]="globalRoutes.CART_PAGE_ROOT" nbButton fullWidth ghost status="info" size="small">{{ "VIEW_CART" | translate }}</button>
            <p class="notification__title">{{ lastItemAddedToCart.title }} (×{{ getQuantity(lastItemAddedToCart.objectID) }})</p>
            <p class="notification__title">
                <b> {{ "ADDED_TO_CART" | translate }}</b>
            </p>
        </nb-card-body>
    </nb-card>
</ng-template>
