@import "~src/@features/styles/colors.scss";

.title {
    margin: 20px 0;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

.full-width {
    width: 100%;
}

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    display: flex;
    align-items: center;
    background-color: color(brown);
    color: white;
    font-weight: 600;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.example-form {
    max-width: 500px;
    width: 100%;
}
