<!-- Toolbar -->

<header class="app-header" role="banner">
    <div>
        <h3 class="title mat-body-strong mat-display-1 mat-title">Pard App</h3>
        <p class="mat-body-1">Browse & Buy from your local stores</p>
    </div>
</header>

<div class="content" role="main">
    <h1 class="title mat-body-strong mat-display-1 mat-title">Where are you from?</h1>
    <form class="example-form">
        <mat-form-field class="full-width" appearance="outline">
            <input type="text" placeholder="City name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCountry($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
