<div class="content-section">
    <nb-card fullWidth>
        <nb-card-header
            ><h1>{{ "PRIVACY_POLICY" | translate }}</h1></nb-card-header
        >
        <nb-card-body class="body">
            <p>Privatumo politika</p>

            <p>
                &#8222;Pard.app&ldquo; suk&#363;r&#279; &#8222;Pard.app&ldquo; program&#261; kaip atvirojo kodo program&#261;. &#352;i&#261; PASLAUG&#260;
                &#8222;Pard.app&ldquo; teikia nemokamai ir yra skirta naudoti toki&#261;, kokia ji yra.
            </p>

            <p>
                &#352;is puslapis yra naudojamas lankytojams informuoti apie m&#363;s&#371; politik&#261;, susijusi&#261; su asmenin&#279;s informacijos
                rinkimu, naudojimu ir atskleidimu, jei kas nors nusprend&#382;ia naudoti m&#363;s&#371; paslaug&#261;.
            </p>

            <p>
                Jei nuspr&#281;site naudoti m&#363;s&#371; paslaug&#261;, tada j&#363;s sutinkate su &#353;ia politika rinkti ir naudoti informacij&#261;.
                Asmenin&#279; informacija, kuri&#261; renkame, naudojama teikiant ir tobulinant Paslaug&#261;. Mes nenaudosime ir nedalinsime j&#363;s&#371;
                informacijos niekam, i&#353;skyrus atvejus, apra&#353;ytus &#353;ioje privatumo politikoje.
            </p>

            <p>&#352;ioje privatumo politikoje vartojami terminai turi tas pa&#269;ias reik&#353;mes, kaip ir m&#363;s&#371; taisykl&#279;se ir nuostatose.</p>

            <p>Informacijos rinkimas ir naudojimas</p>

            <p>
                Nor&#279;dami gauti geresn&#279;s patirties naudodamiesi m&#363;s&#371; Paslauga, galime pareikalauti, kad pateiktum&#279;te tam tikr&#261;
                asmen&#303; identifikuojan&#269;i&#261; informacij&#261;, &#303;skaitant, bet tuo neapsiribojant, vard&#261;, banko s&#261;skaitos numer&#303;,
                telefon&#261; ir adres&#261;. Informacij&#261;, kurios mes reikalaujame, mes pasiliksime ir panaudosime, kaip apra&#353;oma &#353;ioje privatumo
                politikoje.
            </p>

            <p>
                Programa naudojasi tre&#269;i&#371;j&#371; &#353;ali&#371; paslaugomis, kurios gali rinkti informacij&#261;, naudojam&#261; jums identifikuoti.
            </p>

            <p>Nuoroda &#303; programos naudojam&#371; tre&#269;i&#371;j&#371; &#353;ali&#371; paslaug&#371; teik&#279;j&#371; privatumo politik&#261;</p>

            <p>&#8222;Google Play&ldquo; paslaugos</p>

            <p>Prisijungti duomenys</p>

            <p>
                Norime jus informuoti, kad kai naudojat&#279;s m&#363;s&#371; paslauga, programos klaidos atveju renkame duomenis ir informacij&#261; (per
                tre&#269;i&#371;j&#371; &#353;ali&#371; produktus) &#303; j&#363;s&#371; telefon&#261;, vadinam&#261; &#8222;Log Data&ldquo;. &#302; &#353;iuos
                &#382;urnalo duomenis gali b&#363;ti &#303;traukta tokia informacija kaip j&#363;s&#371; &#303;renginio interneto protokolo (&#8222;IP&ldquo;)
                adresas, &#303;renginio pavadinimas, operacin&#279;s sistemos versija, programos konfig&#363;racija, kai naudojate m&#363;s&#371; paslaug&#261;,
                laikas ir data, kai naudojate paslaug&#261;, bei kita statistika.
            </p>

            <p>Slapukai</p>

            <p>
                Slapukai yra nedideli tekstiniai failai, kurie atsiun&#269;iami &#303; J&#363;s&#371; &#303;rengin&#303; nar&#353;ant atitinkamoje interneto
                svetain&#279;je. U&#382;tikriname, kad slapukai padeda atpa&#382;inti tik J&#363;s&#371; &#303;rengin&#303;, ta&#269;iau ne Jus, kaip
                konkret&#371; asmen&#303;.
            </p>

            <p>
                Tiek mes, tiek kitos interneto svetain&#279;s slapukus naudoja siekdamos, kad apsilankymas svetain&#279;je b&#363;t&#371; paprastesnis ir
                efektyvesnis, kitaip tariant, ji atitikt&#371; J&#363;s&#371; poreikius. Tarkime, &#303;sid&#279;jote prek&#281; &#303; krep&#353;el&#303; ir
                nusprend&#279;te toliau ie&#353;koti kit&#371; preki&#371;. Jei svetain&#279;je nar&#353;ysite ilgiau nei pusvaland&#303; ir tik tada
                nuspr&#281;site atsiskaityti u&#382; prekes, pirkini&#371; krep&#353;elis jau bus tu&#353;&#269;ias, nes sistema negal&#279;jo &#303;siminti
                j&#363;s&#371; pastar&#371;j&#371; apsipirkimo veiksm&#371;. Tam, kad apsipirkimas b&#363;t&#371; sklandus, naudojame slapukus, kurie padeda
                sistemai &#303;siminti &#353;i&#261; informacij&#261;, tod&#279;l jums nebereikia antr&#261; kart&#261; ie&#353;koti t&#371; pa&#269;i&#371;
                preki&#371;.
            </p>

            <p>
                Slapukai mums padeda analizuoti J&#363;s&#371; nar&#353;ymo istorij&#261; &#8222;Pigu.lt&ldquo; elektronin&#279;je parduotuv&#279;je.
                &#352;i&#261; informacij&#261; paver&#269;iame galimybe patogiai naudotis m&#363;s&#371; paslaugomis, pavyzd&#382;iui, gauti Jums aktualiausius
                komercinius pasi&#363;lymus. Tam, kad patogus naudojimasis m&#363;s&#371; paslaugomis neapsiribot&#371; tik interneto svetaine, duomenys gali
                b&#363;ti perduodami m&#363;s&#371; reklamos paslaug&#371; partneriams. Jiems yra pateikiami nuasmeninti duomenys, kurie naudojami tik tokia
                apimtimi, kuri yra reikalinga kokybi&#353;kai paslaugai teikti.
            </p>

            <p>Jokie slapukai negali susieti informacijos su konkre&#269;iu asmeniu, t. y. jie renka tik nuasmenintus duomenis.</p>

            <p>
                Jei nusprend&#279;te, kad slapukai jums visgi nepatinka, visada galite juos i&#353;trinti i&#353; savo nar&#353;ykl&#279;s. J&#363;s taip pat
                galite bet kada at&#353;aukti savo duot&#261; sutikim&#261; d&#279;l slapuk&#371; naudojimo, pateikdami mums pra&#353;ym&#261;, elektroniniu
                pa&#353;tu duomenuapsauga@pigu.lt ar paskambin&#281; mums tel. nr. +37052073998.
            </p>

            <p>Paslaug&#371; tiek&#279;jai</p>

            <p>Mes galime &#303;darbinti tre&#269;i&#371;j&#371; &#353;ali&#371; &#303;mones ir asmenis d&#279;l &#353;i&#371; prie&#382;as&#269;i&#371;:</p>

            <p>
                Palengvinti m&#363;s&#371; aptarnavim&#261;; Teikti Paslaug&#261; m&#363;s&#371; vardu; Atlikti su paslauga susijusias paslaugas; arba
                Pad&#279;ti mums analizuoti, kaip naudojama m&#363;s&#371; paslauga. Pad&#279;ti mums analizuoti, kaip naudojama m&#363;s&#371; paslauga.
            </p>

            <p>
                Norime informuoti &#353;ios paslaugos vartotojus, kad &#353;ios tre&#269;iosios &#353;alys turi prieig&#261; prie j&#363;s&#371; asmenin&#279;s
                informacijos. Prie&#382;astis - vykdyti u&#382;duotis, paskirtas jiems m&#363;s&#371; vardu. Ta&#269;iau jie &#303;pareigoti neatskleisti ir
                nenaudoti informacijos jokiems kitiems tikslams.
            </p>

            <p>Saugumas</p>

            <p>
                Mes vertiname j&#363;s&#371; pasitik&#279;jim&#261; teikiant mums j&#363;s&#371; asmenin&#281; informacij&#261;, tod&#279;l stengiam&#279;s
                naudoti komerci&#353;kai priimtinas priemones j&#261; apsaugoti. Ta&#269;iau atminkite, kad n&#279; vienas perdavimo internetu b&#363;das ar
                elektroninio saugojimo b&#363;das n&#279;ra 100% saugus ir patikimas, ir mes negalime garantuoti visi&#353;ko jo saugumo.
            </p>

            <p>Nuorodos &#303; kitas svetaines</p>

            <p>
                &#352;ioje tarnyboje gali b&#363;ti nuorod&#371; &#303; kitas svetaines. Jei spustel&#279;site tre&#269;iosios &#353;alies nuorod&#261;,
                b&#363;site nukreipti &#303; t&#261; svetain&#281;. Atminkite, kad &#353;ios i&#353;orin&#279;s svetain&#279;s n&#279;ra m&#363;s&#371;
                valdomos. Tod&#279;l labai rekomenduojame per&#382;i&#363;r&#279;ti &#353;i&#371; svetaini&#371; privatumo politik&#261;. Mes nekontroliuojame
                ir neprisiimame jokios atsakomyb&#279;s u&#382; tre&#269;i&#371;j&#371; &#353;ali&#371; svetaini&#371; ar paslaug&#371; turin&#303;, privatumo
                politik&#261; ar praktik&#261;.
            </p>

            <p>Vaik&#371; privatumas</p>

            <p>
                &#352;ios paslaugos nesikreipia &#303; asmenis, jaunesnius nei 13 met&#371;. Mes s&#261;moningai nerenkame asmeni&#353;kai identifikuojamos
                informacijos i&#353; vaik&#371; iki 13 met&#371;. Jei su&#382;inosime, kad vaikas iki 13 met&#371; mums pateik&#279; asmenin&#281;
                informacij&#261;, mes nedelsdami j&#261; i&#353;trinsime i&#353; savo serveri&#371; . Jei esate vienas i&#353; t&#279;v&#371; ar
                glob&#279;j&#371; ir &#382;inote, kad j&#363;s&#371; vaikas pateik&#279; mums asmenin&#279;s informacijos, susisiekite su mumis, kad
                gal&#279;tume imtis reikiam&#371; veiksm&#371;.
            </p>

            <p>&#352;ios privatumo politikos pakeitimai</p>

            <p>
                Kartkart&#279;mis galime atnaujinti savo privatumo politik&#261;. Taigi jums patariama periodi&#353;kai per&#382;i&#363;r&#279;ti &#353;&#303;
                puslap&#303;, kad b&#363;t&#371; koki&#371; nors pakeitim&#371;. Apie visus pasikeitimus prane&#353;ime paskelbdami nauj&#261; privatumo
                politik&#261; &#353;iame puslapyje. &#352;ie pakeitimai &#303;sigalioja i&#353;kart po j&#371; paskelbimo &#353;iame puslapyje.
            </p>

            <p>Susisiekite su mumis</p>

            <p>
                Jei turite klausim&#371; ar pasi&#363;lym&#371; d&#279;l m&#363;s&#371; privatumo politikos, nedvejodami susisiekite su mumis el. Pa&#353;tu
                pard@pard.app.
            </p>
        </nb-card-body>
    </nb-card>
</div>
