<div class="content-section">
    <nb-card fullWidth>
        <nb-card-header
            ><h1>{{ "PRIVACY_POLICY" | translate }}</h1></nb-card-header
        >
        <nb-card-body class="body">
            <p>Privatumo politika</p>

            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c0"
                    >&bdquo;Pard.app&ldquo; suk&#363;r&#279; &bdquo;Pard.app&ldquo; program&#261; kaip atvirojo kodo program&#261;. &Scaron;i&#261;
                    PASLAUG&#260; &bdquo;Pard.app&ldquo; teikia nemokamai ir yra skirta naudoti toki&#261;, kokia ji yra.</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c0"
                    >&Scaron;is puslapis yra naudojamas lankytojams informuoti apie m&#363;s&#371; politik&#261;, susijusi&#261; su asmenin&#279;s informacijos
                    rinkimu, naudojimu ir atskleidimu, jei kas nors nusprend&#382;ia naudoti m&#363;s&#371; paslaug&#261;.</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c0"
                    >Jei nuspr&#281;site naudoti m&#363;s&#371; paslaug&#261;, tada j&#363;s sutinkate su &scaron;ia politika rinkti ir naudoti
                    informacij&#261;. Asmenin&#279; informacija, kuri&#261; renkame, naudojama teikiant ir tobulinant Paslaug&#261;. Mes nenaudosime ir
                    nedalinsime j&#363;s&#371; informacijos niekam.</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c0"
                    >&Scaron;ioje privatumo politikoje vartojami terminai turi tas pa&#269;ias reik&scaron;mes, kaip ir m&#363;s&#371; taisykl&#279;se ir
                    nuostatose.</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3"><span class="c0">Informacijos rinkimas ir naudojimas</span></p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c0"
                    >Nor&#279;dami gauti geresn&#279;s patirties naudodamiesi m&#363;s&#371; Paslauga, galime pareikalauti, kad pateiktum&#279;te tam tikr&#261;
                    asmen&#303; identifikuojan&#269;i&#261; informacij&#261;, &#303;skaitant, bet tuo neapsiribojant, vard&#261;, banko s&#261;skaitos
                    numer&#303;, telefon&#261; ir adres&#261;. Informacij&#261;, kurios mes reikalaujame, mes pasiliksime ir panaudosime, kaip apra&scaron;oma
                    &scaron;ioje privatumo politikoje.</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3"><span class="c0">Prisijungti duomenys</span></p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c0"
                    >Norime jus informuoti, kad kai naudojat&#279;s m&#363;s&#371; paslauga, programos klaidos atveju renkame duomenis ir informacij&#261; (per
                    tre&#269;i&#371;j&#371; &scaron;ali&#371; produktus) &#303; j&#363;s&#371; telefon&#261;, vadinam&#261; &bdquo;Log Data&ldquo;. &#302;
                    &scaron;iuos &#382;urnalo duomenis gali b&#363;ti &#303;traukta tokia informacija kaip j&#363;s&#371; &#303;renginio interneto protokolo
                    (&bdquo;IP&ldquo;) adresas, &#303;renginio pavadinimas, operacin&#279;s sistemos versija, programos konfig&#363;racija, kai naudojate
                    m&#363;s&#371; paslaug&#261;, laikas ir data, kai naudojate paslaug&#261;, bei kita statistika.</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3"><span class="c0">Slapukai</span></p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c9 c7"
                    >Slapukai yra nedideli tekstiniai failai, kurie atsiun&#269;iami &#303; J&#363;s&#371; &#303;rengin&#303; nar&scaron;ant atitinkamoje
                    interneto svetain&#279;je. U&#382;tikriname, kad slapukai padeda atpa&#382;inti tik J&#363;s&#371; &#303;rengin&#303;, ta&#269;iau ne Jus,
                    kaip konkret&#371; asmen&#303;.</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c7 c9"
                    >Tiek mes, tiek kitos interneto svetain&#279;s slapukus naudoja siekdamos, kad apsilankymas svetain&#279;je b&#363;t&#371; paprastesnis ir
                    efektyvesnis, kitaip tariant, ji atitikt&#371; J&#363;s&#371; poreikius. Tarkime, &#303;sid&#279;jote prek&#281; &#303; krep&scaron;el&#303;
                    ir nusprend&#279;te toliau ie&scaron;koti kit&#371; preki&#371;. Jei svetain&#279;je nar&scaron;ysite ilgiau nei pusvaland&#303; ir tik tada
                    nuspr&#281;site atsiskaityti u&#382; prekes, pirkini&#371; krep&scaron;elis jau bus tu&scaron;&#269;ias, nes sistema negal&#279;jo
                    &#303;siminti j&#363;s&#371; pastar&#371;j&#371; apsipirkimo veiksm&#371;. Tam, kad apsipirkimas b&#363;t&#371; sklandus, naudojame
                    slapukus, kurie padeda sistemai &#303;siminti &scaron;i&#261; informacij&#261;, tod&#279;l jums nebereikia antr&#261; kart&#261;
                    ie&scaron;koti t&#371; pa&#269;i&#371; preki&#371;.</span
                >
            </p>
            <p class="c3">
                <span class="c9 c7">Jokie slapukai negali susieti informacijos su konkre&#269;iu asmeniu, t. y. jie renka tik nuasmenintus duomenis.</span>
            </p>
            <p class="c3">
                <span class="c7"
                    >Jei nusprend&#279;te, kad slapukai jums visgi nepatinka, visada galite juos i&scaron;trinti i&scaron; savo nar&scaron;ykl&#279;s. J&#363;s
                    taip pat galite bet kada at&scaron;aukti savo duot&#261; sutikim&#261; d&#279;l slapuk&#371; naudojimo, pateikdami mums pra&scaron;ym&#261;,
                    pard@pard.app.</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3"><span class="c0">Paslaug&#371; teik&#279;jai</span></p>
            <p class="c2"><span class="c0"></span></p>
            <p class="c3">
                <span class="c0"
                    >Mes galime &#303;darbinti tre&#269;i&#371;j&#371; &scaron;ali&#371; &#303;mones ir asmenis d&#279;l &scaron;i&#371;
                    prie&#382;as&#269;i&#371;:</span
                >
            </p>
            <p class="c2"><span class="c0"></span></p>
            <ul class="c8 lst-kix_4sqocgip02xz-0 start">
                <li class="c3 c6">
                    <span class="c0">Palengvinti m&#363;s&#371; aptarnavim&#261;;</span>
                </li>
                <li class="c3 c6">
                    <span class="c0">Teikti Paslaug&#261; m&#363;s&#371; vardu;</span>
                </li>
                <li class="c3 c6">
                    <span class="c0">Atlikti su paslauga susijusias paslaugas; arba</span>
                </li>
                <li class="c3 c6">
                    <span class="c0">Pad&#279;ti mums analizuoti, kaip naudojama m&#363;s&#371; paslauga.</span>
                </li>
            </ul>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1">
                <span class="c0"
                    >Norime informuoti &scaron;ios paslaugos vartotojus, kad &scaron;ios tre&#269;iosios &scaron;alys turi prieig&#261; prie j&#363;s&#371;
                    asmenin&#279;s informacijos. Prie&#382;astis - vykdyti u&#382;duotis, paskirtas jiems m&#363;s&#371; vardu. Ta&#269;iau jie &#303;pareigoti
                    neatskleisti ir nenaudoti informacijos jokiems kitiems tikslams.</span
                >
            </p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1"><span class="c0">Saugumas</span></p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1">
                <span class="c0"
                    >Mes vertiname j&#363;s&#371; pasitik&#279;jim&#261; teikiant mums j&#363;s&#371; asmenin&#281; informacij&#261;, tod&#279;l stengiam&#279;s
                    naudoti komerci&scaron;kai priimtinas priemones j&#261; apsaugoti. Ta&#269;iau atminkite, kad n&#279; vienas perdavimo internetu b&#363;das
                    ar elektroninio saugojimo b&#363;das n&#279;ra 100% saugus ir patikimas, ir mes negalime garantuoti visi&scaron;ko jo saugumo.</span
                >
            </p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1"><span class="c0">Nuorodos &#303; kitas svetaines</span></p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1">
                <span class="c0"
                    >&Scaron;ioje tarnyboje gali b&#363;ti nuorod&#371; &#303; kitas svetaines. Jei spustel&#279;site tre&#269;iosios &scaron;alies
                    nuorod&#261;, b&#363;site nukreipti &#303; t&#261; svetain&#281;. Atminkite, kad &scaron;ios i&scaron;orin&#279;s svetain&#279;s n&#279;ra
                    m&#363;s&#371; valdomos. Tod&#279;l labai rekomenduojame per&#382;i&#363;r&#279;ti &scaron;i&#371; svetaini&#371; privatumo politik&#261;.
                    Mes nekontroliuojame ir neprisiimame jokios atsakomyb&#279;s u&#382; tre&#269;i&#371;j&#371; &scaron;ali&#371; svetaini&#371; ar
                    paslaug&#371; turin&#303;, privatumo politik&#261; ar praktik&#261;.</span
                >
            </p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1"><span class="c0">Vaik&#371; privatumas</span></p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1">
                <span class="c0"
                    >&Scaron;ios paslaugos nesikreipia &#303; asmenis, jaunesnius nei 13 met&#371;. Mes s&#261;moningai nerenkame asmeni&scaron;kai
                    identifikuojamos informacijos i&scaron; vaik&#371; iki 13 met&#371;. Jei su&#382;inosime, kad vaikas iki 13 met&#371; mums pateik&#279;
                    asmenin&#281; informacij&#261;, mes nedelsdami j&#261; i&scaron;trinsime i&scaron; savo serveri&#371; . Jei esate vienas i&scaron;
                    t&#279;v&#371; ar glob&#279;j&#371; ir &#382;inote, kad j&#363;s&#371; vaikas pateik&#279; mums asmenin&#279;s informacijos, susisiekite su
                    mumis, kad gal&#279;tume imtis reikiam&#371; veiksm&#371;.</span
                >
            </p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1">
                <span class="c0">&Scaron;ios privatumo politikos pakeitimai</span>
            </p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1">
                <span class="c0"
                    >Kartkart&#279;mis galime atnaujinti savo privatumo politik&#261;. Taigi jums patariama periodi&scaron;kai per&#382;i&#363;r&#279;ti
                    &scaron;&#303; puslap&#303;, kad b&#363;t&#371; koki&#371; nors pakeitim&#371;. Apie visus pasikeitimus prane&scaron;ime paskelbdami
                    nauj&#261; privatumo politik&#261; &scaron;iame puslapyje. &Scaron;ie pakeitimai &#303;sigalioja i&scaron;kart po j&#371; paskelbimo
                    &scaron;iame puslapyje.</span
                >
            </p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1"><span class="c0">Susisiekite su mumis</span></p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c1">
                <span class="c0"
                    >Jei turite klausim&#371; ar pasi&#363;lym&#371; d&#279;l m&#363;s&#371; privatumo politikos, nedvejodami susisiekite su mumis el.
                    Pa&scaron;tu pard@pard.app.</span
                >
            </p>
            <p class="c1 c4"><span class="c0"></span></p>
            <p class="c2"><span class="c5"></span></p>
        </nb-card-body>
    </nb-card>
</div>
