@import "~src/app/@core/styles/themes";

.cart-item {
    &__card {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 10px;
    }
    &__header {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    &__image {
        height: 100px;
        width: 100px;
        border-radius: nb-theme(card-border-radius);
        object-fit: cover;
        margin-right: 10px;
    }
    &__body {
        padding-bottom: 0;
    }
    &__price {
        font-weight: 400;
        margin-bottom: 4px;
    }
    &__footer {
        border-top: 0;
        padding-top: 0;

        input {
            margin: 0 15px 5px 0;
            max-width: 80px;
            display: inline-block;
        }
    }
}
