@import "~src/app/@core/styles/themes";

.cart-item {
    &__card {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 10px;
    }
    &__header {
        display: flex;

        padding: 20px;
    }
    &__imageWrapper {
        min-height: 100px;
        min-width: 100px;
        max-height: 100px;
        max-width: 100px;
        border-radius: nb-theme(card-border-radius);
        overflow: hidden;
        margin-right: 20px;
    }
    &__image {
        height: auto;
        object-position: center;
        width: 100%;
    }
    &__body {
        padding-bottom: 0;
    }
    &__price {
        font-weight: 400;
        margin-bottom: 4px;
    }
    &__description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    &__footer {
        border-top: 0;
        padding-top: 0;

        input {
            margin: 0 15px 5px 0;
            max-width: 80px;
            display: inline-block;
        }
    }
}
