.app-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 25vh;
    background-color: #f3f3f3;
    background-position: center;
    background-size: cover;
    font-weight: 600;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.cutout {
    height: 70px;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
