.app-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 25vh;
    background-color: #2e4998;
    background-position: center;
    background-size: cover;
    font-weight: 600;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    position: relative;
    .svg-find-location {
        top: 1%;
        z-index: 2;
        right: 3%;
        height: 100%;
        width: 450px;
        position: absolute;
        background-image: url(/assets/icons/find_location.svg);
        background-position: 90% 50%;
        background-size: 83%;
        background-repeat: no-repeat;
    }
}

.cutout {
    height: 70px;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
