@import "~src/app/@core/styles/themes";

:host {
    display: block;
}
.payment-body {
    background-color: nb-theme(color-basic-300);
}
.submit-payment-button {
    line-height: 15px;
}
// STRIPE
.StripeElement {
    box-sizing: border-box;
    padding: 14px 12px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: white;

    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: nb-theme(color-danger-400);
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.card-errors {
    height: 30px;
    line-height: 30px;
    &__text {
        color: nb-theme(color-danger-500);
    }
}

.actions {
    display: flex;
    button:first-child {
        margin-right: 10px;
    }
}
