.promoted__secondary {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    // display: flex;
    // width: 100%;
    // flex-direction: row;
}

.promoted {
    margin: 30px 0;
}

.card-title {
    margin: 0 0 15px 0;
}

.newest-listings {
    margin: 30px 0;
    width: 100%;
}

.promoted__secondary app-card-vendor {
    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}
