<app-banner></app-banner>
<div class="horizontal-seperator">&nbsp;</div>
<div class="near-me">
    <app-near-me-items></app-near-me-items>
</div>
<div class="horizontal-seperator">&nbsp;</div>
<div class="promoted" *ngIf="promotedVendors">
    <h3 class="card-title">{{ "RECOMMENDED_VENDORS" | translate }}</h3>

    <div class="promoted__main">
        <app-card-vendor-large [item]="promotedVendors[0]"></app-card-vendor-large>
    </div>
    <div class="promoted__secondary">
        <app-card-vendor [item]="promotedVendors[1]"></app-card-vendor>
        <app-card-vendor [item]="promotedVendors[2]"></app-card-vendor>
        <app-card-vendor [item]="promotedVendors[3]"></app-card-vendor>
    </div>
</div>
<div class="horizontal-seperator">&nbsp;</div>
<div class="newest-listings">
    <h3 class="card-title">{{ "NEWEST_LISTINGS" | translate }}</h3>

    <app-card-listing-slider [listings]="newestListings"></app-card-listing-slider>
</div>
<div class="horizontal-seperator">&nbsp;</div>
<div class="cities">
    <h3 class="card-title">{{ "TOP_CITIES" | translate }}</h3>

    <app-card-city></app-card-city>
</div>

<!--  -->
<!-- Top In Cities Vendors -->
<!-- <app-list-vendors
    [isLoading]="isLoadingVendorsInLocations"
    *ngFor="let item of topVendorsInLocations$ | async"
    [vendorsWithListings$]="item.vendors"
    [title]="'VENDORS_IN' | translate"
    [secondaryTitle]="item.location"
    (secondaryTitleOnClick)="routeToLocation($event)"
></app-list-vendors> -->
