:host {
    margin-top: auto;
}
.footer {
    width: 100%;
    margin: 0 20px;
    display: flex;
    margin: 30px auto 100px auto;
    max-width: 1260px;
    flex-direction: column;
    padding: var(--card-padding);

    &__links {
        margin: 10px 0;
    }
    &__link {
        margin-right: 10px;
    }
    &__trademark {
        display: flex;
        flex-direction: row;
    }
    &__social-icons {
        margin: 10px 0;
    }
    &__icon {
        margin-right: 10px;
    }
}
