:host {
    margin-top: auto;
}
.footer {
    width: 100%;
    display: flex;
    margin: 30px auto 30px auto;
    max-width: 1260px;
    flex-direction: column;
    align-items: baseline;
    padding: 10px 20px;
    padding: var(--card-padding);

    &__links {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        @media (max-width: 640px) {
            flex-direction: column;
        }
    }
    &__link {
        margin-right: 10px;
    }
    &__trademark {
        display: flex;
        justify-content: center;
        width: 100%;
        @media (max-width: 640px) {
            justify-content: flex-start;
        }
    }
    &__social-icons {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        @media (max-width: 640px) {
            justify-content: flex-start;
        }
    }
    &__icon {
        margin-right: 10px;
    }
}
