<nb-card size="small" class="vendor-card">
    <nb-card-header class="vendor-card__header">
        <div class="vendor-card__add-cart-btn" (click)="addToCart()"><span>+</span></div>
        <img
            class="example-card-image"
            [src]="
                item.image ? item.image : 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1200px-No_image_available.svg.png'
            "
            alt="item.name"
        />
    </nb-card-header>
    <nb-card-body class="card-body">
        <h5 class="listing-title">{{ item.title }} | {{ item.price }} &euro;</h5>
        {{ item.description }}
    </nb-card-body>
    <!-- <nb-card-footer></nb-card-footer> -->
</nb-card>
