@import "~src/app/@features/styles/themes";

.card-image {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: cover;
}
.price {
    color: nb-theme(color-secondary-600);
}
.vendor-card {
    position: relative;

    &__header {
        position: relative;
        padding: 0;
        line-height: 0;
    }

    &__add-cart-btn {
        position: absolute;
        top: -7px;
        right: -7px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: nb-theme(color-primary-600);
        color: nb-theme(color-primary-100);
        width: 44px;
        height: 44px;
        transition: 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        cursor: pointer;
        font-size: 2em;
        font-weight: 100;

        &:hover {
            transform: scale(1.15);
        }
    }
}
