.grid-parent {
    transition: 0.2s ease;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;

    @media (max-width: 1150px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 6px 3%;
    }

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-gap: 10px 3%;
    }
    @media (max-width: 780px) {
        grid-template-columns: 1fr 1fr 1fr;
        // grid-gap: 10px 3%;
    }
    @media (max-width: 640px) {
        grid-template-columns: 1fr 1fr;
        // grid-gap: 10px 3%;
    }
}

.listings-title {
    margin: 0;
    margin-bottom: 15px;
}
