<h4>{{ "ITEMS" | translate }}</h4>
<nb-list class="cart-summary__list">
    <nb-list-item *ngFor="let item of cartItems | keyvalue">
        <div>
            <p>{{ item.value.item?.title }}</p>
            <p>
                <strong>{{ item.value.item?.price | currency }}</strong> (×{{ item.value.quantity }})
            </p>
        </div>
    </nb-list-item>
</nb-list>

<div *ngIf="delivery">
    <h4>{{ "DELIVERY_COSTS" | translate }}</h4>
    <p *ngFor="let vendor of vendors">
        {{ vendor.title }}: <strong>{{ vendor.delivery ? (vendor.delivery_costs | currency) : ("NO_DELIVERY" | translate) }}</strong>
    </p>
</div>

<h5 class="cart-summary__total">
    {{ "TOTAL" | translate }}: <strong>{{ totalAmount | currency }}</strong>
</h5>

<button
    *ngIf="view === globalRoutes.CART_LISTINGS_PAGE_ROOT"
    [routerLink]="'/' + globalRoutes.CART_PAGE_ROOT + '/' + globalRoutes.CART_CHECKOUT_PAGE_ROOT"
    nbButton
    status="primary"
    fullWidth
    [disabled]="!cartItemsLength"
>
    {{ "CHECKOUT" | translate }}
</button>
<button *ngIf="view === globalRoutes.CART_CHECKOUT_PAGE_ROOT" [routerLink]="'/' + globalRoutes.CART_PAGE_ROOT" nbButton ghost status="warning" fullWidth>
    {{ "BACK_TO_CART" | translate }}
</button>
