<h4>{{ "ITEMS" | translate }}</h4>
<p *ngFor="let item of cartItems | keyvalue">
    {{ item.value.item?.title }}: <strong>{{ item.value.item?.price | currency }}</strong> (×{{ item.value.quantity }})
</p>

<div *ngIf="delivery">
    <h4>{{ "DELIVERY_COSTS" | translate }}</h4>
    <p *ngFor="let vendor of vendors">
        {{ vendor.title }}: <strong>{{ vendor.delivery ? (vendor.delivery_costs | currency) : ("NO_DELIVERY" | translate) }}</strong>
    </p>
</div>

<h5>
    {{ "TOTAL" | translate }}: <strong>{{ totalAmount | currency }}</strong>
</h5>

<button
    *ngIf="view === globalRoutes.CART_LISTINGS_PAGE_ROOT"
    [routerLink]="'/' + globalRoutes.CART_PAGE_ROOT + '/' + globalRoutes.CART_CHECKOUT_PAGE_ROOT"
    nbButton
    outline
    status="info"
    fullWidth
    [disabled]="!cartItemsLength"
>
    {{ "CHECKOUT" | translate }}
</button>
<button *ngIf="view === globalRoutes.CART_CHECKOUT_PAGE_ROOT" [routerLink]="'/' + globalRoutes.CART_PAGE_ROOT" nbButton outline status="warning" fullWidth>
    {{ "BACK_TO_CART" | translate }}
</button>
