<div class="content-section">
    <nb-card fullWidth class="summary">
        <nb-card-header
            ><h1>{{ "TERMS_AND_CONDITIONS" | translate }}</h1></nb-card-header
        >
        <nb-card-body class="body">
            <p class="c11">
                <span class="c0"
                    >Mes sutinkame tiekti jums &ldquo;pard.app&rdquo; paslaugas. Paslaugos yra sudarytos i&scaron; vis&#371; &ldquo;pard.app&rdquo;
                    funkcij&#371;, aplikacijos, paslaug&#371;, technologijos ir programin&#279;s &#303;rangos. Teikdami &scaron;i&#261; paslaug&#261; mes
                    siekiame savo misijos: sujungti vietini&#371;, kokybi&scaron;k&#371; produkt&#371; tiek&#279;jus su j&#371; pirk&#279;jais, mylimais
                    klientais. &Scaron;iuo metu &scaron;ie tiek&#279;jai yra nutrauk&#281; ar apribojo savo tiesiogin&#281; veikl&#261; - prekyb&#261;
                    parduotuv&#279;je d&#279;l &scaron;iuo metu paskelbto karantino.<br /><br />1. S&#261;lygos<br /><br />Prieidami prie &scaron;ios
                    svetain&#279;s, pasiekiamos per pard.app, j&#363;s sutinkate su &scaron;iomis svetain&#279;s s&#261;lygomis ir visais galiojan&#269;iais
                    Lietuvos respublikos &#303;statymais, susijusiais su virtualia prekyba. Jeigu j&#363;s nesutinkate su kuriomis nors toliau nurodytomis
                    s&#261;lygomis, j&#363;s negalite naudotis m&#363;s&#371; teikiamomis paslaugomis. Visi m&#363;s&#371; produkto duomenys yra apsaugos
                    autori&#371; teisi&#371; ir prekinio &#382;enklo &#303;statymo.<br /><br />2. Naudojimosi licencija</span
                >
            </p>
            <p class="c1"><span class="c0"></span></p>
            <p class="c11">
                <span class="c0"
                    >Suteikiame teis&#281; tik trumpam atsisi&#371;sti vien&#261; kopij&#261; duomen&#371;, pateikt&#371; pard.app svetain&#279;je asmeninei,
                    nekomercinei, laikinai per&#382;i&#363;rai. &#268;ia yra leidimas, ne teisi&#371; perleidimas, ir &scaron;is leidimas jums nesuteikia
                    teis&#279;s:<br
                /></span>
            </p>
            <ul class="c12 lst-kix_dbdqnxqyrrdl-0 start">
                <li class="c5">
                    <span class="c0">Bandyti pakeisti ar pakartotinai naudoti programin&#281; &#303;rang&#261;, kuri yra Pard.app svetain&#279;je</span>
                </li>
                <li class="c5">
                    <span class="c0">Pa&scaron;alinti autorini&#371; teisi&#371; ar nuosavyb&#279;s notacijas nuo pateikt&#371; duomen&#371;; arba</span>
                </li>
                <li class="c5">
                    <span class="c0"
                        >Perleisti duomenis kitam &#382;mogui arba atvaizduoti &scaron;iuos duomenis kitame nei m&#363;s&#371; serveryje<br
                    /></span>
                </li>
            </ul>
            <p class="c11">
                <span class="c0"
                    >Tai suteikia teis&#281; pard.app sunaikinti duomenis, jeigu yra pa&#382;eistas bent vienas i&scaron; &scaron;i&#371; apribojim&#371;.
                    Sunaikinimo metu j&#363;s&#371; per&#382;i&#363;ros teis&#279; taip pat bus pa&scaron;alinta ir j&#363;s prival&#279;site sunaikinti bet
                    kokius j&#363;s&#371; turimus atsi&#371;stus duomenis, ar tai b&#363;t&#371; spausdinto, ar elektroninio formato.<br /><br />3. K&#261; mes
                    suteikiame, ir ko nesuteikiame</span
                >
            </p>
            <p class="c1"><span class="c0"></span></p>
            <ul class="c12 lst-kix_dbdqnxqyrrdl-0">
                <li class="c5">
                    <span class="c0"
                        >Mes suteikiame platform&#261; tiek&#279;jams (legaliems verslams) parduoti savo produktus elektronin&#279;je erdv&#279;je.
                        Teik&#279;jai prisiima piln&#261; atsakomyb&#281; u&#382; teising&#261; preki&#371; atvaizdavim&#261; ir apra&scaron;ym&#261;,
                        daikt&#371; ar paslaug&#371; pristatym&#261; ir gr&#261;&#382;inim&#261;.</span
                    >
                </li>
            </ul>
            <p class="c1"><span class="c0"></span></p>
            <ul class="c12 lst-kix_dbdqnxqyrrdl-0">
                <li class="c5">
                    <span class="c0"
                        >Mes netvarkome pavedim&#371; tiesiogiai. Mes generuojame u&#382;sakymo informacij&#261; tiek&#279;jo aplikacijoje. Pristatyti nurodytas
                        prekes yra tiek&#279;jo atsakomyb&#279;. Jeigu turite klausim&#371; apie preki&#371; atvykim&#261;, galite susisiekti su tiek&#279;ju
                        nurodytais kontaktais, kurie yra nurodyti jo profilio informacijoje.</span
                    >
                </li>
                <li class="c5">
                    <span class="c0"
                        >Jautri j&#363;s&#371; pateikta asmenin&#279; informacija yra perduodama tik tiek&#279;jui, kuri yra skirta j&#363;s&#371; preki&#371;
                        pristatymui.</span
                    >
                </li>
            </ul>
            <p class="c1"><span class="c0"></span></p>
            <p class="c11">
                <span>4. </span><span class="c8">Kaip j&#363;s negalite naudoti &ldquo;pard.app&rdquo;: </span
                ><span class="c0"
                    >Kad gal&#279;tumeme jums u&#382;tikrinti saugi&#261; ir atvir&#261; paslaug&#261; visuomenei, mes visi turime prisid&#279;ti.<br
                /></span>
            </p>
            <ul class="c12 lst-kix_dbdqnxqyrrdl-0">
                <li class="c5">
                    <span class="c8">Jums draud&#382;iama imituoti prekeivius ar suteikti neteising&#261; informacij&#261;.</span
                    ><span class="c0"
                        ><br />&ldquo;Pard.app&rdquo; nereikalauja j&#363;s&#371; suteikti informacij&#261; apie j&#363;s&#371; tapatyb&#281;, bet j&#363;s
                        privalote pateikti naujausi&#261; ir tiksli&#261; informacij&#261;.<br />Jums draud&#382;iama apsimesti kitu &#382;mogumi, institucija
                        ar prekeiviu, taip pat jums draud&#382;iama teikti informacij&#261; u&#382; kit&#261; asmen&#303;, institucij&#261; ar prekeiv&#303;,
                        nebent turite ai&scaron;k&#371; leidim&#261;, suteikt&#261; j&#371;.</span
                    >
                </li>
                <li class="c5">
                    <span class="c8 c13"
                        >J&#363;s negalite verstis nelegalia veikla, klaidinti ar elgtis apgaulingai tam, kad pasiektum&#279;te nelegali&#371; ar
                        u&#382;draust&#371; tiksl&#371;.</span
                    >
                </li>
                <li class="c5">
                    <span class="c8"
                        >J&#363;s negalite pa&#382;eisti (arba pad&#279;ti kitiems pa&#382;eisti, ar motyvuoti kitus pa&#382;eisti) &scaron;i&#371; naudojimosi
                        s&#261;lyg&#371; ir m&#363;s&#371; poltikos. </span
                    ><span class="c0">Pama&#269;ius &scaron;iuos veiksmus galite juos prane&scaron;ti mums pard@pard.app</span>
                </li>
                <li class="c5">
                    <span class="c13 c8"
                        >J&#363;s negalite imtis veiksm&#371; tam, kad pakenktum&#279;te ar trukdytum&#279;te m&#363;s&#371; teikiamoms paslaugoms veikti taip,
                        kaip yra numatyta.</span
                    >
                </li>
                <li class="c5">
                    <span class="c13 c8">Jums yra draud&#382;iama nelegaliai registruotis.</span>
                </li>
                <li class="c5">
                    <span class="c13 c8"
                        >Jums yra draud&#382;iama pirkti registruot&#371; vartotoj&#371; informacij&#261;, arba bandyti gauti, rinkti ar naudoti kit&#371;
                        vartotoj&#371; prisijungimo informacij&#261; ar paveiksliukus.</span
                    >
                </li>
                <li class="c5">
                    <span class="c13 c8"
                        >Jums yra draud&#382;iama kelti priva&#269;i&#261; ar konfidenciali&#261; informacij&#261;, ar imtis veiksm&#371;, kurie
                        pa&#382;eid&#382;ia kit&#371; asmen&#371;, insituticij&#371; ar tiek&#279;j&#371; teises, &#303;skaitant intelektualin&#281;
                        nuosavyb&#281;.</span
                    >
                </li>
                <li class="c5">
                    <span class="c13 c8"
                        >Jums yra draud&#382;iama naudotis m&#363;s&#371; domeno vardu ar nuoroda savo pavadinimuose, neturint m&#363;s&#371;
                        ra&scaron;ti&scaron;ko sutikimo.</span
                    >
                </li>
            </ul>
            <p class="c11">
                <span class="c13 c8"
                    ><br />Mes nepasisaviname j&#363;s&#371; keliamo turinio informacijos, bet j&#363;s suteikiate mums leidim&#261; j&#261; naudoti.</span
                >
            </p>
            <p class="c1"><span class="c13 c8"></span></p>
            <p class="c11">
                <span class="c0"
                    >J&#363;s&#371; teis&#279;s j&#363;s&#371; &#303;keltam turiniui nesikei&#269;ia. Mes nepasisaviname j&#363;s&#371; turinio, kur&#303;
                    j&#363;s pavie&scaron;insite &scaron;ioje platformoje. Vietoje to, kol naudojat&#279;s m&#363;s&#371; paslaugomis, naudojat&#279;s
                    pardav&#279;j&#371; paslaugomis, kuri&#371; duomenys (paveiksliukai, video med&#382;iaga) yra apsaugota intelektin&#279;s nuosavyb&#279;s
                    &#303;statymo, j&#363;s suteikiate mums nei&scaron;imtin&#281; teis&#281; naudotis &scaron;iuo turiniu, tam, kad mes j&#303; tinkamai
                    atvaizduotum&#279;me, sublincenzijuotum&#279;me, i&scaron;verstum&#279;me &#303; kit&#261; kalb&#261;. J&#363;s galite panaikinti
                    &scaron;&#303; leidim&#261; i&scaron;trindami savo anket&#261; ar turin&#303; i&scaron; &scaron;ios platformos. Bet turinys, kuris buvo
                    pasidalintas su kitais i&scaron;liks, kol kiti &#382;mon&#279;s jo nei&scaron;tins.</span
                >
            </p>
            <p class="c11">
                <span class="c0"><br />5. Teis&#279;s, kurias pasiliekame.</span>
            </p>
            <p class="c2"><span class="c0"></span></p>
            <ul class="c12 lst-kix_jlgb09es1dq6-0 start">
                <li class="c4">
                    <span class="c0"
                        >Mes galime keisti j&#363;s&#371; profilio informacij&#261; ar pana&scaron;&#371; identifikatori&#371;, jeigu mes manome, jog &scaron;is
                        veiksmas yra b&#363;tinas (pvz. J&#363;s&#371; profilio pavadinimas pa&#382;eid&#382;ia kito &#382;mogaus, insitutucijos ar tiek&#279;jo
                        intelektin&#281; nuosavyb&#281;, arba j&#363;s naudodamiesi m&#363;s&#371; &#303;ranga apsimetate kitu).</span
                    >
                </li>
                <li class="c4">
                    <span class="c0"
                        >J&#363;s negalite atvaizduoti m&#363;s&#371; intelektin&#279;s nuosavyb&#279;s nebent turite m&#363;s&#371; sutikim&#261;</span
                    >
                </li>
            </ul>
            <p class="c6">
                <span class="c0">6. Turinio pa&scaron;alinimas ir paskyros sunaikinimas, sustabdymas jo veikimo.</span>
            </p>
            <ul class="c12 lst-kix_8bbu5fvz2yjy-0 start">
                <li class="c4">
                    <span class="c0"
                        >Mes galime panaikinti bet kok&#303; turin&#303; ar informacij&#261;, kuri&#261; j&#363;s pasidalinote naudodamiesi m&#363;s&#371;
                        &#303;ranga, kuri pa&#382;eid&#382;ia m&#363;s&#371; nuostatus ar m&#363;s&#371; privatumo politik&#261;, arba tai yra reikalaujama
                        &#303;statymo tvarkos. Mes taip pat galime atsisakyti teikti jums savo paslaugas arba j&#371; dal&#303; (taip pat sunaikindami
                        j&#363;s&#371; profil&#303;) jeigu j&#363;s:<br />Akivaizd&#382;iai pa&#382;eid&#279;te &scaron;ias nuostatas, jeigu j&#363;s
                        pa&#382;eid&#279;te kit&#371; &#382;moni&#371; teises, arba to reikalauja &#303;statymas. Mes prad&#279;sime naikinim&#261; prie&scaron;
                        tai jus informuodami (jeigu &#303;manoma). Jeigu manote, jog informacija buvo sunaikinta per klaid&#261;, arba norite j&#261; visam
                        laikui sunaikinti, susisiekite su mumis tiesiogiai pard@pard.app.</span
                    >
                </li>
                <li class="c4">
                    <span class="c0"
                        >J&#363;s&#371; pa&scaron;alintas turinys gali likti m&#363;s&#371; duomen&#371; baz&#279;je ne ilgiau nei m&#279;nes&#303;.</span
                    >
                </li>
            </ul>
            <p class="c6"><span class="c0">7. Prane&scaron;imas</span></p>
            <p class="c6">
                <span
                    >Visas turinys ir duomenys Pard.app svetain&#279;je yra tiekiamas toks, koks yra. Pard.app nesuteikia joki&#371; garantij&#371;, net jei tai
                    buvo i&scaron;reik&scaron;ta ar numanoma, tod&#279;l neigiamos visos kitos garantijos. </span
                ><span class="c10"
                    >Be to, &bdquo;Pard.app&ldquo; neatsako d&#279;l savo internetin&#279;je svetain&#279;je esan&#269;i&#371; med&#382;iag&#371; naudojimo
                    tikslumo ar patikimumo ar kitaip nesusijusi su tokiomis med&#382;iagomis ar jokiomis svetain&#279;mis, susijusiomis su &scaron;ia
                    svetaine.</span
                >
            </p>
            <p class="c2"><span class="c10"></span></p>
            <p class="c6">
                <span class="c10"
                    >8. Apribojimai<br /><br />&bdquo;Pard.app&ldquo; ar jos tiek&#279;jai nebus atsakingi u&#382; joki&#261; &#382;al&#261;,
                    atsirandan&#269;i&#261; d&#279;l naudojimosi ar nesugeb&#279;jimo naudoti &bdquo;Pard.app&ldquo; svetain&#279;je esan&#269;i&#371;
                    med&#382;iag&#371;, net jei &bdquo;Pard.app&ldquo; ar &#303;galiotasis &scaron;ios svetain&#279;s atstovas buvo informuotas &#382;od&#382;iu
                    ar ra&scaron;tu apie tokios &#382;alos galimyb&#281;. Kai kuriose jurisdikcijose neleid&#382;iama numanom&#371; garantij&#371; ar
                    atsakomyb&#279;s u&#382; atsitiktin&#281; &#382;al&#261; apribojim&#371;, &scaron;ie apribojimai gali b&#363;ti netaikomi jums.</span
                >
            </p>
            <p class="c6"><span class="c10">9. Revizijos ir Errata</span></p>
            <p class="c3">
                <span class="c10"
                    >Med&#382;iagoje, rodomoje &bdquo;Pard.app&ldquo; svetain&#279;je, gali b&#363;ti technini&#371;, spausdinimo ar fotografijos klaid&#371;.
                    &bdquo;Pard.app&ldquo; ne&#382;ad&#279;s, kad kuri nors i&scaron; &scaron;ioje svetain&#279;je esan&#269;i&#371; med&#382;iag&#371; yra
                    tiksli, i&scaron;sami ar naujausia. &bdquo;Pard.app&ldquo; gali bet kuriuo metu be i&scaron;ankstinio &#303;sp&#279;jimo pakeisti savo
                    interneto svetain&#279;je esan&#269;i&#261; med&#382;iag&#261;. &bdquo;Pard.app&ldquo; neprisiima &#303;sipareigojim&#371; atnaujinti
                    med&#382;iag&#261;.</span
                >
            </p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3"><span class="c10">10. Nuorodos</span></p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3">
                <span class="c10"
                    >&bdquo;Pard.app&ldquo; neper&#382;i&#363;r&#279;jo vis&#371; su savo svetaine susiet&#371; svetaini&#371; ir neatsako u&#382; tokios
                    susietos svetain&#279;s turin&#303;.</span
                >
            </p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3">
                <span class="c10"
                    >Bet koks saitas nerei&scaron;kia, kad &bdquo;Pard.app&ldquo; patvirtino svetain&#281;. Vartotojas rizikuoja naudoti bet kuri&#261;
                    susiet&#261; svetain&#281;.</span
                >
            </p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3">
                <span class="c10">11. Svetain&#279;s naudojimo s&#261;lyg&#371; pakeitimai</span>
            </p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3">
                <span class="c10"
                    >&bdquo;Pard.app&ldquo; gali bet kuriuo metu be i&scaron;ankstinio &#303;sp&#279;jimo pakeisti &scaron;ias savo interneto svetain&#279;s
                    naudojimo s&#261;lygas. Naudodamiesi &scaron;ia svetaine j&#363;s sutinkate laikytis dabartin&#279;s &scaron;i&#371; naudojimo
                    s&#261;lyg&#371; versijos.</span
                >
            </p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3"><span class="c10">12. J&#363;s&#371; privatumas</span></p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3">
                <span class="c10">Perskaitykite m&#363;s&#371; privatumo politik&#261;.</span>
            </p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3"><span class="c10">13. Taikoma teis&#279;</span></p>
            <p class="c3 c9"><span class="c10"></span></p>
            <p class="c3">
                <span class="c10"
                    >Bet kokiems ie&scaron;kiniams, susijusiems su &bdquo;Pard.app&ldquo; svetaine, taikomi LT &#303;statymai, neatsi&#382;velgiant &#303; jo
                    &#303;statym&#371; kolizijos nuostatas.</span
                >
            </p>
        </nb-card-body>
        <nb-card-footer *ngIf="isModal">
            <button nbButton basic status="primary" (click)="closeModal()">{{ "CLOSE" | translate }}</button>
        </nb-card-footer>
    </nb-card>
</div>
