<app-top-banner>
    <app-search-box></app-search-box>
</app-top-banner>

<section class="content-section">
    <h2 class="title title--thin title--space">
        {{ "MARKETPLACE" | translate }}
    </h2>

    <nb-card>
        <nb-card-body class="card-body">
            <nb-tabset fullWidth (changeTab)="changeTab($event)">
                <nb-tab
                    [tabTitle]="'VENDORS' | translate"
                    [tabIcon]="'home-outline'"
                    [active]="(currentActiveTab$ | async).view == 'vendors'"
                    [nbSpinner]="!vendorsList$"
                    [tabId]="'vendors'"
                    nbSpinnerSize="giant"
                    nbSpinnerStatus="primary"
                    class="grid-tab"
                >
                    <div class="grid-parent grid-parent__vendors">
                        <section class="grid-child" *ngFor="let item of vendorsList$ | async">
                            <app-card-vendor [item]="item"></app-card-vendor>
                        </section>
                    </div>
                    <h2 *ngIf="!(vendorsList$ | async).length" class="title--thin title--space">{{ "NOTHING_FOUND" | translate }} 😥</h2>
                </nb-tab>

                <nb-tab
                    [active]="(currentActiveTab$ | async).view == 'listings'"
                    [tabTitle]="'LISTINGS' | translate"
                    [tabId]="'listings'"
                    class="grid-tab"
                    [tabIcon]="'archive-outline'"
                >
                    <app-list-listings [listingsList$]="listingsList$"></app-list-listings>
                </nb-tab>
            </nb-tabset>
        </nb-card-body>
    </nb-card>
</section>
