@import "~src/@features/styles/colors.scss";

// .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: white;
// }@import "~src/@features/styles/colors.scss";

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
}

::ng-deep .mat-form-field-ripple {
    background-color: color(blue);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}
/* Font color */
::ng-deep input.mat-input-element {
    color: black;
}
