<div class="content-section cart-grid">
    <nb-card fullWidth class="summary">
        <nb-card-header>
            <h5>{{ "SUMMARY" | translate }}</h5>
        </nb-card-header>
        <nb-card-body class="summary__body">
            <app-cart-summary
                [view]="view"
                [cartItems]="cartItems"
                [totalAmount]="totalPriceWithDelivery"
                [vendors]="vendorsOfCartItems"
                [delivery]="delivery"
            ></app-cart-summary>
        </nb-card-body>
    </nb-card>

    <nb-card fullWidth class="items">
        <nb-card-header>
            <h1>{{ "YOUR_CART" | translate }}</h1>
        </nb-card-header>

        <nb-card-body *ngIf="view === globalRoutes.CART_LISTINGS_PAGE_ROOT">
            <app-cart-listing-card
                (removeItem)="removeItem($event)"
                (changeQuantity)="changeQuantity($event)"
                *ngFor="let item of cartItems | keyvalue"
                [cartItem]="item"
            ></app-cart-listing-card>
        </nb-card-body>
        <nb-card-body *ngIf="view === globalRoutes.CART_CHECKOUT_PAGE_ROOT">
            <app-cart-checkout [cartItems]="cartItems" [vendors]="vendorsOfCartItems" (deliveryChanged)="toggleDelivery($event)"></app-cart-checkout>
        </nb-card-body>
    </nb-card>
</div>
