@import "~src/app/@core/styles/themes";
:host {
    display: flex;
    justify-content: space-between;
}

.input-box {
    flex: 1;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.search-button {
    margin-left: 20px;
    height: 40px;
    animation: 0.2s ease-in 0s 1 slideInFromLeft;

    cursor: pointer;
}

.option-item {
    padding: 2px;
    &__image {
        padding: 3px;
        width: 46px;
        height: 46px;
        object-fit: cover;
    }
    &__box {
        display: flex;
        align-items: center;
    }
    &__title {
    }
    &__description {
        font-size: 0.8em;
        font-weight: lighter;
    }
}

.option-group ::ng-deep .option-group-title {
    background: var(--color-info-100);
    font-weight: bold;
}
