@import "~src/app/@core/styles/themes";

.remove-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.option-group ::ng-deep .option-group-title {
    background: var(--color-info-100);
    font-weight: bold;
}
