<nb-form-field>
    <nb-icon nbPrefix status="primary" icon="shopping-cart-outline" pack="eva" class="home-icon"></nb-icon>
    <div *ngIf="currVal" nbSuffix class="remove-icon" (click)="clearInput()">
        <nb-icon fullWidth status="primary" icon="close-outline" pack="eva"></nb-icon>
    </div>
    <input
        fullWidth
        #theInput
        [(ngModel)]="currVal"
        (ngModelChange)="onCurrentValueChange()"
        nbInput
        type="text"
        [placeholder]="'FILTER_BY_LISTING_OR_VENDOR' | translate"
        [nbAutocomplete]="auto"
    />
    <nb-autocomplete #auto (selectedChange)="onPick($event)">
        <nb-option-group *ngFor="let group of groupedItems$ | async" [title]="group.name">
            <nb-option *ngFor="let option of group.children" [value]="option">
                {{ option }}
            </nb-option>
        </nb-option-group>
    </nb-autocomplete>
</nb-form-field>
