<nb-form-field class="input-box">
    <nb-icon *ngIf="input.value" nbPrefix status="primary" icon="shopping-cart-outline" pack="eva" class="home-icon"></nb-icon>
    <nb-icon *ngIf="!input.value" nbPrefix icon="shopping-cart-outline" pack="eva" class="home-icon"></nb-icon>
    <div *ngIf="input.value" nbSuffix (click)="clearInput()">
        <nb-icon fullWidth status="basic" class="remove-icon" icon="close-outline" pack="eva"></nb-icon>
    </div>
    <input
        fullWidth
        [formControl]="input"
        (keydown.enter)="vendorOrListingSearch()"
        #theInput
        nbInput
        type="text"
        [placeholder]="placeholder"
        [nbAutocomplete]="auto"
    />
    <nb-autocomplete #auto (selectedChange)="onPick($event)">
        <nb-option-group class="option-group" *ngFor="let group of groupedItems$ | async" [title]="group.name | uppercase">
            <nb-option class="option-item" *ngFor="let option of group.children" [value]="option">
                <img class="option-item__image" [src]="option.image" alt="" />
                <div class="option-item__box">
                    <span class="option-item__title">
                        {{ option.title }}
                    </span>
                </div>
            </nb-option>
        </nb-option-group>
    </nb-autocomplete>
</nb-form-field>

<button nbButton *ngIf="input.value" ghost status="primary" (click)="vendorOrListingSearch()" class="search-button">
    <nb-icon icon="search-outline"></nb-icon>
</button>
