<div class="vendors-and-listings">
    <nb-form-field class="input-box">
        <nb-icon nbPrefix status="primary" icon="shopping-cart-outline" pack="eva" class="home-icon"></nb-icon>
        <div *ngIf="input.value" nbSuffix class="remove-icon" (click)="clearInput()">
            <nb-icon fullWidth status="primary" icon="close-outline" pack="eva"></nb-icon>
        </div>
        <input fullWidth [formControl]="input" #theInput nbInput type="text" [placeholder]="placeholder" [nbAutocomplete]="auto" />
        <nb-autocomplete #auto (selectedChange)="onPick($event)">
            <nb-option-group class="option-group" *ngFor="let group of groupedItems$ | async" [title]="group.name | uppercase">
                <nb-option class="option-item" *ngFor="let option of group.children" [value]="option">
                    <img class="option-item__image" [src]="option.image" alt="" />
                    <div class="option-item__box">
                        <span class="option-item__title">
                            {{ option.title }}
                        </span>
                    </div>
                </nb-option>
            </nb-option-group>
        </nb-autocomplete>
    </nb-form-field>
    <button (click)="vendorOrListingSearch()" class="search-button" [disabled]="!input.value" nbButton size="medium" status="info">
        <nb-icon icon="search-outline"></nb-icon>
    </button>
</div>
