@import "~src/app/@core/styles/themes";
:host {
    width: 355px;
    padding: 0px 10px;
    @media (max-width: 1100px) {
        width: 100%;
        padding: 0px;
    }
}

.item {
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        span {
            font-weight: 100;
            font-style: 0.9rem;
        }
    }
    &-val ::ng-deep,
    &-county ::ng-deep,
    &-administrative ::ng-deep {
        em {
            font-style: normal;
            font-weight: 900;
            color: nb-theme(color-info-500);
        }
    }
}

.item-administrative,
.item-county {
    margin-left: 5px;
    font-size: 0.7em;
}

// input {
//     border: none;
//     &:hover {
//         background-color: nb-theme(background-basic-color-2) !important;
//     }
//     &:active {
//         background-color: nb-theme(background-basic-color-2) !important;
//     }
// }
