<nb-form-field>
    <nb-icon *ngIf="input.value" nbPrefix status="primary" icon="home-outline" pack="eva" class="home-icon"></nb-icon>
    <nb-icon *ngIf="!input.value" nbPrefix icon="home-outline" pack="eva" class="home-icon"></nb-icon>
    <div *ngIf="input.value" nbSuffix (click)="clearInput()">
        <nb-icon fullWidth status="basic" class="remove-icon" icon="close-outline" pack="eva"></nb-icon>
    </div>
    <input
        (click)="tryInit()"
        fullWidth
        [formControl]="input"
        #autoInput
        id="searchLocation"
        nbInput
        type="text"
        fieldSize="small"
        [placeholder]="'LOCATION' | translate"
        [nbAutocomplete]="auto"
    />
    <nb-autocomplete #auto (selectedChange)="onPick($event)">
        <nb-option class="item-wrapper" *ngFor="let option of places$ | async" [value]="option">
            <span class="item-val" [innerHTML]="option.highlightedName"></span>
            <!-- <span class="item-county" *ngIf="option.highlightedCounty" [innerHTML]="option.highlightedCounty"></span> -->
            <span class="item-administrative" *ngIf="option.highlightedAdministrative" [innerHTML]="option.highlightedAdministrative"></span>
        </nb-option>
    </nb-autocomplete>
</nb-form-field>
