<nb-form-field>
    <nb-icon nbPrefix status="primary" icon="home-outline" pack="eva" class="home-icon"></nb-icon>
    <div *ngIf="input.value" nbSuffix class="remove-icon" (click)="clearInput()">
        <nb-icon fullWidth status="primary" icon="close-outline" pack="eva"></nb-icon>
    </div>
    <input [formControl]="input" fullWidth #autoInput nbInput type="address" [placeholder]="'SELECT_LOCATION' | translate" [nbAutocomplete]="auto" />
    <nb-autocomplete #auto (selectedChange)="onPick($event)">
        <nb-option class="item-wrapper" *ngFor="let option of places$ | async" [value]="option">
            <span class="item-val" [innerHTML]="option.highlightedName"></span>
            <span class="item-county" *ngIf="option.highlightedCounty" [innerHTML]="option.highlightedCounty"></span>
            <span class="item-administrative" *ngIf="option.highlightedAdministrative" [innerHTML]="option.highlightedAdministrative"></span>
        </nb-option>
    </nb-autocomplete>
</nb-form-field>
