<nb-card class="listing-card">
    <nb-card-header class="listing-card__header clickable-card">
        <img
            class="listing-card__image"
            *ngIf="item.image"
            [src]="item.image ? item.image : ''"
            [alt]="item.title"
            [routerLink]="!viewOnly ? '/' + globalRoutes.VENDOR_PAGE_ROOT + '/' + item.vendor + '/' + item.objectID : null"
        />
    </nb-card-header>
    <nb-card-body class="listing-card__body">
        <h3 class="product-price">
            {{ item.price | currency }} <span *ngIf="item.quantity">× {{ item.quantity }}</span>
        </h3>
        <p class="product-title">{{ item.title }}</p>
        <!-- <p>{{ item.description.length > 60 ? (item.description | slice: 0:60) + "..." : item.description }}</p> -->
    </nb-card-body>
    <nb-card-footer class="listing-card__footer" *ngIf="!viewOnly">
        <button nbButton ghost status="info" (click)="addToCart()">{{ "ADD_TO_CART" | translate }}</button>
    </nb-card-footer>
</nb-card>
