<nb-card class="listing-card">
    <nb-card-header class="listing-card__header clickable-card">
        <img
            class="listing-card__image"
            *ngIf="item.image"
            [src]="item.image ? item.image : ''"
            [alt]="item.title"
            [routerLink]="'/' + globalRoutes.VENDOR_PAGE_ROOT + '/' + item.vendor + '/' + item.objectID"
        />
    </nb-card-header>
    <nb-card-body class="listing-card__body">
        <h6 class="product-price">{{ item.price | currency }}</h6>
        <h4 class="product-title">{{ item.title }}</h4>
        <!-- <p>{{ item.description.length > 60 ? (item.description | slice: 0:60) + "..." : item.description }}</p> -->
    </nb-card-body>
    <nb-card-footer class="listing-card__footer">
        <button nbButton ghost status="info" (click)="addToCart()">Add to cart</button>
    </nb-card-footer>
</nb-card>
