@import "~src/app/@core/styles/themes";

.listing-card {
    height: 270px;
    margin-bottom: 0;

    &__header {
        padding: 0;
        display: flex;
    }
    &__body {
        padding: 5px 15px 5px 15px;
        height: 100%;
    }
    &__footer {
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    &__image {
        width: 100%;
        height: 130px;
        object-fit: cover;
    }
}

.product-title {
    margin: 5px 0;
    font-size: 1em;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-price {
    font-weight: 500;
}

.product-description {
    font-size: 0.8rem;
}
